{% extends '../layouts/template.html' %}

{% block title %}Check my State Pension - {{user.id}}{% endblock %}

{% block serviceName %}Check my State Pension{% endblock %}

{% block main %}

{% include '../persephone_login.html' %}


<div id="global-breadcrumb" class="header-context">
    <ol role="breadcrumbs" class="group">
      <li><a href="/{{mvpversion}}/dashboard-persephone-gaps1#lie-improve-sp-value">Check my State Pension home</a></li>
    </ol>
</div>

 <div class="grid-row">
    <div class="column-two-thirds">
  
      <h1> {{year|int}} - {{(year|int+1)|shorten(2,4)}}</h1>
					<div class="panel-indent"><p>The last date you could pay for this year was 6 April 2014. You can usually pay to fill gaps up to 6 years previous. </p></div>
					
                      <h2 class="heading-medium"><strong>You have contributions</strong></h2>
                   <p>From paid employment: <strong>£500</strong></p>
                    <p>From self-employment: <strong>2 weeks</strong></p>
                   

                    
                        <p>Because you were claiming benefits or unable to work you received National Insurance credits for <strong>2 weeks</strong></p>
    
                   <p>If you think these details are wrong or you are entitled to credits because you were unemployed or unable to work, you may be able to <a href="/users/ni/ni-check">check and correct your National Insurance record</a> which can make years count towards your pension.</p>
    
                <a href="javascript:window.history.back();" class="example-back-link">Back</a>
					

				</div><!-- /.column-two-thirds -->
			

			 <div class="column-third">
					<div class="related" id="related">
						<div class="inner group related-subsection">      
						{% include './ni_side_bar.html' %}
                        </div>
                    </div>
                </div> <!-- /.column-third -->
                
           </div><!-- /.grid-row -->


{% endblock %}