.error {
  margin-right: 15px; }
  .error .error-message {
    color: #b10e1e;
    font-weight: bold; }
  .error .form-control {
    border: 4px solid #b10e1e; }

.error, .error-summary {
  border-left: 5px solid #b10e1e;
  padding-left: 10px; }
  @media (min-width: 641px) {
    .error, .error-summary {
      padding-left: 15px; } }

.error-message {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.3157894737;
  font-weight: 400;
  text-transform: none;
  display: block;
  clear: both;
  margin-top: 0;
  padding-bottom: 10px !important;
  padding-bottom: 5px; }
  @media (max-width: 640px) {
    .error-message {
      font-size: 16px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    .error-message {
      padding-bottom: 10px; } }

.error-summary {
  border: 5px solid #b10e1e;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px; }
  @media (min-width: 641px) {
    .error-summary {
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 15px; } }
  .error-summary:focus {
    outline: 3px solid #ffbf47; }
  .error-summary .error-summary-heading {
    margin-top: 10px; }
  .error-summary p {
    margin-top: 15px;
    margin-bottom: 5px; }
  .error-summary .error-summary-list {
    padding-left: 0; }
    @media (min-width: 641px) {
      .error-summary .error-summary-list li {
        margin-bottom: 5px; } }
    .error-summary .error-summary-list a {
      color: #b10e1e;
      font-weight: bold;
      text-decoration: underline; }

.no-after-padding { margin-bottom:0px; }