.highlighted-event {
    margin-top:20px;
    background-color: #28a197;
    color: #fff;
    text-align: center;
    padding: 1em 2em 1em 2em;
}

.highlighted-event p {
    margin-bottom: 0px;
    color: #fff;
    font-weight: bold;
}

.highlighted-event em {
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    display: block;
    margin-bottom: 0.5em;
    color: #fff
}
