// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Set up your main content area <main id="content">
// This will give you a full width content block
// See elements _layout.scss line 7.

// If you need it, set up your grid layout - refer to the grid layout usage example
// See elements _layout.scss line 28.

// If you need a phase banner, put this inside the main content area
// See elements _layout.scss line 22.
.alpha-banner  {
  @include phase-banner(beta); // Change this to (beta) for a beta banner
}
.alpha-tag {
  @include phase-tag(beta); // Change this to (beta) for a beta tag
}

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }
  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.



// Set up the phase banner
// See elements _layout.scss line 22.
.alpha-banner  {
  @include phase-banner(alpha); // Change this to (beta) for a beta banner
  strong {
    text-transform: uppercase;
  }
}
.alpha-tag {
  @include phase-tag(alpha); // Change this to (beta) for a beta tag
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.
 
 
 strong {font-weight: bold}
 
.highlight-answer,
.highlighted-event {
    background-color: #28a197;
    color:#fff;
    text-align:center;
    padding:0.1em 2em 0.2em 2em;
    //margin:0 -1em 1em -1em
    margin: 0 0 1em 0
}
    
.highlight-answer p,
.highlighted-event p {
    line-height:2.3em;
    color:#fff
}
    
.highlight-answer p em,
.highlighted-event p em {
    font-size: 2.45em;
    font-style:normal;
    font-weight:700;
    display:block;
    margin-bottom:0.5em;
    color:#fff
}
    
@media (max-width: 640px){
    .highlight-answer,
    .highlighted-event {
        //margin:0 0 1em 0;
        margin:0 -1em 1em -1em;
        font-family:"nta",Arial,sans-serif;
        font-size:48px;
        line-height:1.04167;
        font-weight:400;
        text-transform:none
    }
}

@media (max-width: 640px) and (max-width: 640px) {
    .highlight-answer,
    .highlighted-event {
        font-size:32px;
        line-height:1.09375
    }
}

@media (max-width: 640px) {
    .highlight-answer p,
    .highlighted-event p {
        font-size:1em;
        line-height:inherit
    }   
    .highlight-answer p em,
    .highlighted-event p em {
        font-size:1em;
        display:inline
    }
}
 
.highlighted-event {
    padding: 1.75em 0.75em 1.25em 0.75em
}
 
@media (min-width: 641px) {
    .highlighted-event {
        padding: 1.75em 0.75em 1.25em 0.75em
    }
}
    
@media (max-width: 640px) {
    .highlighted-event {
        padding: 0.5em 0.75em 0.25em 0.75em
    }
}
 
.highlighted-event p {
    font-family:"nta",Arial,sans-serif;
    font-size:24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    padding-top: 9px;
    padding-bottom: 6px;
    font-weight: bold;
    padding: 0;
    margin:0
}
 
@media (max-width: 640px){
    .highlighted-event p {
        font-size:20px;
        line-height:1.2
    }
}
 
@media (min-width: 641px) {
    .highlighted-event p {padding-top:6px;padding-bottom:4px}
}
 
@media (max-width: 640px){
    .highlighted-event p {
        padding:0;
        margin-top:0;
        margin-bottom:0;
        font-weight:bold;
        padding:0;
        margin:0
    }
}
 
@media (min-width: 641px) {
    .highlighted-event p {
        padding:0;
        margin:0;
        font-weight:bold
    }
}
 
.highlighted-event p span {
    display:block;
    font-family:"nta",Arial,sans-serif;font-size:24px;
    line-height:1.25;
    font-weight:400;
    text-transform:none;
    padding-top:9px;
    padding-bottom:6px;
    font-weight:bold
 }
    
@media (max-width: 640px){
    .highlighted-event p span {
        font-size:20px;
        line-height:1.2
    }
}

@media (min-width: 641px) {
    .highlighted-event p span {
        padding-top:6px;
        padding-bottom:4px
    }
}

.highlighted-event p em {
    display:block;
    font-family:"nta",Arial,sans-serif;font-size:80px;
    line-height:1;font-weight:400;
    text-transform:none;
    padding-top:8px;
    padding-bottom:7px;
    font-weight:bold;
    margin-bottom:0;
    padding:0;
    padding-top:0.2em;
    padding-bottom:0.1em
}

@media (max-width: 640px) {
    .highlighted-event p em {
        font-size:53px;
        line-height:1.03774
    }
}

@media (min-width: 641px){
    .highlighted-event p em {
        padding-top:6px;
        padding-bottom:14px
    }
}

@media (max-width: 640px) {
    .highlighted-event p em {
        padding:0;
        padding-top:0.2em;
        padding-bottom:0.1em
    }
}

@media (min-width: 641px) {
    .highlighted-event p em {
        padding:0;
        padding-top:0.2em;
        padding-bottom:0.1em
    }
}

.nav-tabs {
    zoom:1;
    background:#fff;
    padding:0;
    position:relative;
}
.nav-tabs:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}

.nav-tabs ol,
.nav-tabs ul {
    float:left;
    list-style: none;
    margin: 0;
    padding:0;
    position:relative;
    z-index:5
}

@media (max-width: 640px) {
    .nav-tabs ol,
    .nav-tabs ul {
        float: none;
        margin: 0 -16px
    }
}

.nav-tabs li {
    font-family:"nta",Arial,sans-serif;
    font-size:19px;    
    line-height:1.3;
    font-weight:400;
    text-transform:none;
    border-bottom: 0;  
    float: left;  
    margin: 0 0 -1px;        
   /* margin-right: 5px;
    margin-bottom:4px;*/        
}


@media (max-width: 640px) {
    .nav-tabs li {
        font-size:14px;
        line-height:1.14286}
    }
    
@media (max-width: 640px){
    .nav-tabs li {
        float:none
    }
}

.nav-tabs li a {
   
    float:left;
    background-color: #dee0e2;
    border: 0 none;
    /*height:2.25em;*/
    /*line-height:2.25em;*/
    display: block;
   /* margin-bottom:-4px;
    padding:0 1em 0 1em;*/
    position:relative;
    text-align:center;
    text-decoration: none;
     font-weight:800;
    top:0;   
   
    margin: 0.26316em 0.26316em 0.26316em 0;
    padding: 0.47368em 1em;
    

}
        
@media (max-width: 640px){
    .nav-tabs li a {
        display:block;
        position:static;
        float:none;
        height:auto;
        line-height:3.5em;
        padding:0 16px;
        text-align:left;
        margin-bottom:0;
        border-bottom:1px solid #bfc1c3;
    }
}

.nav-tabs li a:hover {
    color: #2e8aca;
}
.nav-tabs li.active a {     
    background-color: #fff;
    color:#0b0c0c;
    position:relative;
    text-decoration:none;
    z-index:5;
    border: 1px solid #bfc1c3;
    border-bottom: 1px solid transparent;
    margin-top:0px;
    margin-bottom:0;

    padding: 0.68421em 0.94737em 0.73684em;
  
}
        
@media (max-width: 640px) {
    .nav-tabs li.active a{
        border:none;
        border-bottom:1px solid #bfc1c3
    }
}

.nav-tabs li.active a:hover{color:inherit}
.nav-tabs li:first-child a{margin-left:0}
    
@media (max-width: 640px){
    .nav-tabs li:first-child a{border-left:none;border-top:1px solid #bfc1c3}
}

.tab-content {margin-top: 2em}

@media (max-width: 640px){
    .tab-content {
        //margin:0 -1em
    }
}

.tab-content .tab-pane {
    // padding: 1em 1em 0 1em;
    padding: 1em 0 0 0;
    border-top:solid 1px #bfc1c3;
    clear:both;
    width:auto
}

@media (max-width: 640px) {
    .tab-content .tab-pane {
        border-top:none;
        padding:0
    }
}
.tab-content .inner {
    padding:0em 2.5em 1em
}

@media (max-width: 640px) {
    .tab-content .inner { 
        padding:0 1em 1em;
        border-bottom: solid 1px #C9D0D0
    }
}

.tab-content h1.visuallyhidden + h2 {margin-top:2em}
.tab-content p {
    padding:0;
    margin-left:0;
    margin-right:0
}

.tab-content em {font-style:normal;font-weight:bold}

.tab-content nav {margin:1em -1.375em 0}


//

.related ul {
    font-family: "nta",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.related li {
    margin-bottom: 0.75em;
    padding-left: 0;
}

.related li a {
    background-position: 0 -287px;
    background-repeat: no-repeat;
    display: block;
    line-height: 1.25em;
    orphans: 2;
}

// ni contributions

.year {display:inline-block; min-width: 100px}

.improve-choice-box {
    display:block; 
    border-top: 1px solid #bfc1c3; 
    padding: 10px 0
}

.improve-choice-box p {font-size: 16px}

.improve-choice-box a {
    float: right;
    text-align: right;
} 

span.inactive {color: #999}




/****** static CSS **/
/*******************/











/** Bens Prototype Styles **/
/*******************/


details {
  display: block; }

details summary {
  display: inline-block;
  color: #005ea5;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.26316em; }

details summary:hover {
  color: #2e8aca; }

details summary:focus {
  outline: 3px solid #ffbf47; }

details .summary {
  text-decoration: underline; }

details .arrow {
  margin-right: 0.35em; }

details .panel-indent {
  margin-top: 0; }

  // Start now buttons
.button-get-started {  
  background-image: url("/public/images/icons/icon-pointer.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding: em(7) em(41) em(4) em(16);

}



.verify-heading {

    font-weight: normal;
    text-transform: uppercase;
    line-height: 26px;
    font-size: 26px;
}


.verify-logo {
    height: 50px;
    margin-right:10px;
    vertical-align: -2px;
    float: left;
}


.verify-block {
    margin-top: 35px;
}

.heading-xlarge.landingpagetitle {
    margin-bottom: 0;
}


.help-notice {

    background: url("/public/images/icons/icon-important.png") no-repeat scroll 0 0.5em;
    padding-left: 55px;

}



//breadcrumbs



.related-container {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 40px;
}

.related-container {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 40px;
}

.form-label
{
    font-weight: bold;

}

.form-hint
{
    font-weight: 400;

}



//guide pages

aside .page-navigation li {
  list-style: decimal;
  list-style-position: outside;
  margin-right: 0.75em;
  margin-left: 1.5em;
  clear: left;
  font-family: "nta",Arial,sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
}

aside .page-navigation li.active {
  padding: 0.25em 0.25em 0.25em 0;
}

aside .page-navigation li span.part-number {
  display: none;
  width: 1.75em;
}

.pagination li a {
  background-color: transparent;
  display: block;
  color: #005ea5;
  text-decoration: none;
}

.pagination li a .pagination-label {
  font-family: "nta",Arial,sans-serif;
  font-size: 27px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 0.1em;
  display: block;
}

.pagination li {
  font-family: "nta",Arial,sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  float: left;
  list-style: none;
  text-align: right;
  margin: 0;
  padding: 0;
  width: 49%;}

  .pagination li.next {
  float: right;
  text-align: right;
}

.pagination li.next a:before {
  background: transparent url(https://assets.digital.cabinet-office.gov.uk/static/arrow-sprite-8275c6a71c56adfe1ac2b06ae7d4b12e.png) no-repeat -102px -11px;
  margin: -4px -32px 0 0;
  display: block;
  float: right;
  width: 30px;
  height: 38px;
  content: " ";
}

.pagination {
  display: block;
  margin: 4em 0 0 0;
  border-bottom: 1px solid #bfc1c3;
}

  .meta-data p {
  text-align: left;
  font-family: "nta",Arial,sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
}

.meta-data {
  font-family: "nta",Arial,sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  color: #6f777b;
  margin: 1em 0 0 0;
}

  .print-link a, .print-link a:link, .print-link a:visited {
  background: url(https://assets.digital.cabinet-office.gov.uk/static/icon-print-7675af508cd5563b32e9e4a4cb691861.png) no-repeat 0% 50%;
  padding: 0.5em 0 0.5em 28px;
  zoom: 1; }

  .print-link {
  text-align: left;
  margin: 2em 0 0 0;
   font-size: 16px;
}

  #content.multi-page aside {
  z-index: 10;
  border-bottom: 1px solid #bbb;
  margin-bottom: 1em;
  padding-bottom: 1em;
  overflow: hidden;
}

#content h1 {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 700;
  text-transform: none;
  margin-top: 15px;
  margin-bottom: 30px; }
  @media (max-width: 640px) {
    #content h1 {
      font-size: 32px;
      line-height: 1.09375; } }
  @media (min-width: 641px) {
    #content h1 {
      margin-top: 30px;
      margin-bottom: 60px; } }


.related {
  border-top: 10px solid #005ea5;
  padding-top: 5px;
}

.related h2 {
  font-family: "nta",Arial,sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 600;
  color: #0b0c0c;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  position: relative;
}

.ni-table th td {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  text-transform: none;
  text-align: left;
  color: #0b0c0c;
  border-bottom: 0px;
  padding: 0px 0px 0px 0; }

.ni-table th {
font-weight: 700;
border-bottom: 0px;
}

.ni-table td {
border-bottom: 0px;
}

.amounts th td {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857;
  text-transform: none;
  text-align: left;
  color: #0b0c0c;
  border-bottom: 1px solid #bfc1c3;
  padding: 5px 20px 5px 0;
  }


.amounts th {
font-weight: 700;
font-size: 16px;
}

.amounts td {
font-size: 16px;

}

.modelling th {
font-weight: 700;
font-size: 19px;
}

.modelling td {
font-size: 19px;

}

//accordion

.ni-table dt {

  
  padding-top: 10px;
  padding-bottom: 5px;
  border-top: 1px solid #BFC1C3;
  
}


// ni-wrapper

.ni-wrapper {
    display: inline-block; 
    clear: both;
   width: 100%;
   padding: 10px 0 10px 0;
    
}

.ni-years {
   
  width: 20%;
  float: left;
}

.ni-cost {
   
    width: 25%;
    float: left;
}

.ni-shortfall {
   
    width: 50%;
    float: left;
}

.ni-payby {
   
    width: 25%;
    float: left;

}

.ni-full {
   
    width: 66%;
    float: left;
    color: #999;
}

.ni-late {
   
    width: 50%;
    float: left;
    color: #999;
}

.ni-action {
   
    width: 30%;
    float: left;
    text-align: right;
}

.ni-action-check {
   
    width: 50%;
    float: left;
    background-color: #000
}

.tickBox {
    background: #fff;
    color: #6c3;
    width: 30px;
    height: 30px;
    line-height: 34px;
    display: block;
    float: right;
    border: 1px solid #6d6d6d;
    }

// contributions

.contributions-wrapper {
    display: block; 
    clear: both;
    padding: 10px 0px 0px 25%;
    margin-bottom: 5px;
    font-size: 16px;
}

.contributions-value {
    float: left;
    width: 40%
}

@media (max-width: 640px) {
    .contributions-value{
       float: left;
       width: 100%;
       display:block; 
    clear: both;
    padding-bottom: 5px;
    }

    .contributions-wrapper {
   margin-bottom: 0;


}
}






.gird-2-3 {
    width:66%;   
}



/*----------------------------------*\
    # Chart lines
\*----------------------------------*/


.chart-block {
  clear: both;  
}


.chart-block .graph-title {
  font-weight: 800;
  font-size: 19px;
  display: inline-block;
  clear: both;
  width: 100%;
   @media only screen and (max-width: 640px) {
      font-weight: 800;
  font-size: 16px;
  }
}

.chart-block .footnote {
  margin-top: -15px;
  margin-bottom: 25px;
    display:inline-block;
}

.graph
{
  float: left; 
  width: 100%;
  margin-top: -2px;
}
  
.graph li
{
  position: relative;
  display: block;  
  border-bottom: 1px solid #EEE; 
  background:#C1DFE4;
  height:37px;
  @media only screen and (max-width: 640px) {
      height: 27px;
      margin-left: 0;
  }
}
  
  
.graph  li .amount
{
  display: block;   
  height: 100%; 
  background: #28A197;   
  line-height: 1.6em;
  color:#fff;
  text-align: right;
  padding-right: 10px;
  font-size: 25px;
  font-weight: 800;
  @media only screen and (max-width: 640px) {
      font-size: 20px;
  }
}

li .amount
{
  display: block;   
  height: 100%; 
  background: #28A197;   
  line-height: 1.6em;
  color:#fff;
  text-align: right;
  padding-right: 10px;
  font-size: 25px;
  font-weight: 800;
  @media only screen and (max-width: 640px) {
      font-size: 20px;
  }
}


