{% extends 'layouts/template.html' %}

{% block title %}GOV.UK prototyping kit{% endblock %}

{% block serviceName %}GOV.UK prototyping kit{% endblock %}


{% block main %}

 <div class="grid-row">
            <div class="column-two-thirds">

                    <h1 class="heading-xlarge">Welcome to the GOV.UK prototyping kit</h1>
                    <!-- feel free to change this page to suit your needs -->

                    <p>This is the index.html page - we recommend you put links to key pages here.</p>

                    <h2 class="heading-large">Pages</h2>

                    <ul>
                        <li>
                            <a href="/kitchen-sink">Kitchen Sink</a>
                        </li>
                    </ul>

            </div>
</div>


{% endblock %}

