{% extends '../layouts/template.html' %}
{% block title %}Check my State Pension - {{mvpversion}}{% endblock %}
{% block serviceName %}Check my State Pension{% endblock %}
{% block main %}

<a href="javascript:window.history.back();" class="example-back-link">Back</a>

<div class="grid-row">
  <div class="column-two-thirds">

    <h2 class="heading-large">Paying voluntary contributions</h2>
    <p>Before paying voluntary contributions, as well as <a href="../ni-years-check26">checking your National Insurance record is correct</a>, you should:</p>
    <div class="notice">
      <h3 class="heading-medium"><i class="icon icon-number1"><span class="visuallyhidden">1.</span></i>Seek guidance or financial advice</h3>
    </div>
    <p>Paying voluntary contributions may not be your best option when planning for your retirement.</p>

    <details class="helptext">
      <summary role="button">
        <span class="summary">Where you can get guidance and advice</span>
      </summary>

      <div class="panel-indent">
        <p>You can seek professional financial advice. For free impartial guidance (not on GOV.UK)</p>
        <ul class="list-bullet">
          <li><a href="http://www.moneyadviceservice.org.uk/" target="_blank" rel="external">Money Advice Service (opens in new tab)</a></li>
          <li><a href="https://www.citizensadvice.org.uk/" target="blank" rel="external">Citizens Advice (opens in new tab)</a></li>
        </ul>
      </div>
    </details>

    <div class="notice">
      <h3 class="heading-medium"><i class="icon icon-number2"><span class="visuallyhidden">2.</span></i>Check if you may get extra pension income because you</h3>
    </div>

    <details class="helptext">
      <summary role="button">
        <span class="summary">inherit or increase it from a partner</span>
      </summary>

      <div class="panel-indent">
        <p>Your amount may change if you:</p>
        <ul class="list-bullet">
          <li>are widowed, divorced or have dissolved your civil partnership</li>
          <li>paid married women&rsquo;s reduced rate contributions</li>
        </ul>
      </div>
    </details>

    <details class="helptext">
      <summary role="button">
        <span class="summary">lived or worked overseas</span>
      </summary>

      <div class="panel-indent">
        <ul class="list-bullet">
          <p>You may be entitled to a State Pension from the country you lived or worked in. Contact the pension service of the country you were in to find out if you are eligible.</p>
        </ul>
      </div>
    </details>

    <br />
    <p><a href="../pay-voluntary-contributions" class="button">Continue to payment options</a></p>
    <p><a href="javascript:window.history.back();" class="example-back-link">Back</a></p>

	</div><!-- /.column-two-thirds -->
	<div class="column-third">
	</div><!-- /.column-third -->
</div><!-- /.grid-row -->

<script>

jQuery(document).ready(function($){
	var allPanels = $('.accordion > dd').hide();

	$('.accordion > dt').click(function(){
		if(!$(this).parent().parent().hasClass("active")){          
			allPanels.prev().removeClass("active");
			$(this).parent().parent().addClass("active");
            console.log($(this));
			$(this).parent().parent().next().slideDown();
			return false;
		}else{
			$(this).parent().parent().removeClass("active");             
			return false;
		}
	});
});

</script>

{% endblock %}