s{% extends '../layouts/template.html' %}
{% block title %}Check your National Insurance record {{mvpversion}}{% endblock %}
{% block serviceName %}Check your National Insurance record{% endblock %}
{% block main %}

<div class="grid-row">
  <div class="column-two-thirds">
    <a href="javascript:window.history.back();" class="example-back-link">Back</a>

    <h2 class="heading-large">Check your National Insurance record</h2>
    <p class="lede">Gaps in your record</p>
    <p><a href="#">View all years</a></p>

    <dl class="accordion2">
      <dt>
        <div class="ni-wrapper">
          <div class="ni-years2">2014-15</div>
          <div class="ni-full2">Your record for this year is not available yet</div>
        </div>
      </dt>

      <dt>
        <div class="ni-wrapper">
          <div class="ni-years2">2012-13</div>
          <div class="ni-notfull">£50 shortfall</div>
          <div class="ni-action"><a href="#">View details</a></div>
        </div>
      </dt>
      <dd>
        <div class="contributions-wrapper2">
          <p class="contributions-header">You have contributions from</p>
          <p>Paid-employment earnings: <strong>£600</strong></p>
          <p>Find out <a href="ni-check">how to check gaps in your record</a>.</p>
          <p class="contributions-header">You can make up the shortfall</p>
          <p>Pay a voluntary contribution of <strong>£50</strong> by <strong>6 April 2019</strong>.</p>
          <p>Find out <a href="../dashboard/dashboardA">how contributions can improve your State Pension forecast</a>.</p>
        </div>
      </dd>

      <dt>
        <div class="ni-wrapper">
          <div class="ni-years2">2011-12</div>
          <div class="ni-notfull">£150 shortfall</div>
          <div class="ni-action"><a href="#">View details</a></div>
        </div>
      </dt>
      <dd>
        <div class="contributions-wrapper2">
          <p class="contributions-header">You have contributions from</p>
          <p>Paid-employment earnings: <strong>£400</strong></p>
          <p>Find out <a href="ni-check">how to check gaps in your record</a>.</p>
          <p class="contributions-header">You can make up the shortfall</p>
          <p>Pay a voluntary contribution of <strong>£150</strong> by <strong>6 April 2019</strong>.</p>
           <p>Find out <a href="../dashboard/dashboardA">how contributions can improve your State Pension forecast</a>.</p>
        </div>
      </dd>

      <dt>
        <div class="ni-wrapper">
          <div class="ni-years2">2009-10</div>
          <div class="ni-notfull">£100 shortfall</div>
          <div class="ni-action"><a href="#">View details</a></div>
        </div>
      </dt>
      <dd>
        <div class="contributions-wrapper2">
          <p class="contributions-header">You have contributions from</p>
          <p>When you were claiming benefits or unable to work we credited you National Insurance for <strong>40 weeks</strong>.</p>
          <p>Find out <a href="ni-check">how to check gaps in your record</a>.</p>
          <p class="contributions-header">You can make up the shortfall</p>
          <p>Pay a voluntary contribution of <strong>£100</strong> by <strong>6 April 2019</strong>.</p>
           <p>Find out <a href="../dashboard/dashboardA">how contributions can improve your State Pension forecast</a>.</p>
        </div>
      </dd>

      <dt>
        <div class="ni-wrapper">
          <div class="ni-years2">2006-07</div>
          <div class="ni-late ">It&rsquo;s too late to pay for this year</div>
          <div class="ni-action"><a href="#">View details</a></div>
        </div>
      </dt>
      <dd>
        <div class="contributions-wrapper2">
          <p class="contributions-header">You did not make any contributions this year</p>
          <p>Find out <a href="ni-check">how to check gaps in your record</a>.</p>
          <div class="panel-indent">
            <p>The last date you could pay by was 6 April 2014. You can usually only pay for the last 6 years.</p>
          </div>
        </div>
      </dd>

      <dt>
        <div class="ni-wrapper">
          <div class="ni-years2">2005-06</div>
          <div class="ni-late">It&rsquo;s too late to pay for this year</div>
          <div class="ni-action"><a href="#">View details</a></div>
        </div>
      </dt>
      <dd>
        <div class="contributions-wrapper2">
          <p class="contributions-header">You did not make any contributions this year</p>
          <p>Find out <a href="ni-check">how to check gaps in your record</a>.</p>
          <div class="panel-indent">
            <p>The last date you could pay by was 6 April 2013. You can usually only pay for the last 6 years.</p>
          </div>
        </div>
      </dd>

    </dl>

    <a href="javascript:window.history.back();" class="example-back-link">Back</a>

  </div><!-- /.column-two-thirds -->
  <div class="column-third"><br /><br />
    <div class="related" id="related">
      <div class="inner group related-subsection">

        <h2 class="heading-small">Summary</h2>
        <nav role="navigation" aria-labelledby="parent-subsection">
          <ul class="list-bullets">
            <li><span style="font-size: 24px; font-weight: 700">28</span><br />years of full contributions</li>
            <li><span style="font-size: 24px; font-weight: 700">6</span><br />years to contribute before April 2022</li>
          </ul>
        </nav>

      </div><!-- inner group related sub section -->
    </div>
  </div> <!-- /.column-third -->
</div><!-- /.grid-row -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">

var allPanels = $('.accordion2 > dd').hide(),
      allHeaders = $('.accordion2 > dt');

  $('.accordion2 > dt').click(function() {
    // $(this).parent().children("dd")
    //   // .hide()
    //   // .removeClass('active');
    
    // $(this).parent().children("dt")
    //   .children('span')
    //   .removeClass('down');

    if(!$(this).hasClass('active')) {
      // $(this).parent().children("dt")
      //   .removeClass('active');

      $(this)
        .addClass('active')
        .next()
        .show();

      $(this).find("a").text("Hide details");

    $(this)
      .children('span')
      .addClass('down');
    }
    else{
      $(this)
        .removeClass('active')
        .next()
        .hide();

      $(this).find("a").text("View details");
    }

    return false;
  });

</script>

{% endblock %}