{% extends '../layouts/template.html' %}

{% block title %}Check your National Insurance record {{mvpversion}}{% endblock %}

{% block serviceName %}Check your National Insurance record{% endblock %}

{% block main %}

{% include '../persephone_login.html' %}


<a href="/{{mvpversion}}/dashboard-persephone-gaps1#lie-improve-sp-value" class="example-back-link">Back to Check your State Pension</a></li>
    </ol>
</div>

 <div class="grid-row">
    <div class="column-two-thirds">
  
        <h2 class="heading-large">Your National Insurance record</h1> 
        <p class="lede">Check gaps in your record and make payments. You have until 6 April 2019 to make payments unless stated otherwise.</p>

        <p><a href="#">View all years</a></p>

       

                 
        <!--<div class="ni-wrapper" style="padding-top: 40px;">
          <div class="ni-years"><strong>Year</strong></div>
          <div class="ni-cost"><strong>One-off cost</strong></div>
          <div><strong>Last date you can pay</strong></div>
          <div class="ni-action"></div>
        </div>-->
        
         {% include './ni_table5.html' %}
        
<a href="/{{mvpversion}}/dashboard-persephone-gaps1#lie-improve-sp-value" class="example-back-link">Back</a>
					

				</div><!-- /.column-two-thirds -->
			

			 <div class="column-third">
					<div class="related" id="related">
						<div class="inner group related-subsection">      
						{% include './ni_side_bar.html' %}
            <br>
            {% include '../dashboard/help.html' %}
                        </div>
                    </div>
                </div> <!-- /.column-third -->
                
           </div><!-- /.grid-row -->

{% endblock %}