<details class="helptext">
  <summary role= "button">
    <span class="summary">What your record shows</span>
  </summary>

  <div class="panel-indent">

    <p class="font-xsmall">Your record shows years when you did not pay enough National Insurance. You can find out how much it costs to make them count towards your State Pension.</p>
    <p class="font-xsmall">If you think your record is wrong you may be able to correct it. If you were unable to work you may be entitled to claim National Insurance credits. Correcting your record or claiming credits may make years count towards your State Pension. You can see contributions you have from:</p>
    <ul class="list-bullets font-xsmall"  style="list-style-type: disc; padding-left:20px">
      <li>paid employment</li>
      <li>self-employment</li>
      <li>National Insurance credits  -  if you were claiming benefits these should have been credited automatically</li>
      <li>voluntary contributions</li>
    </ul>

  </div>

</details>