<dl class="ni-table">
    <!-- 2014 -->
  <dt>
    <div class="ni-wrapper">
         <div class="ni-years">2014-15</div>
         <div class="ni-full">Your record for this year isn't available yet </div>
      </div>
 </dt>
 <dd></dd>
 <!-- 2013 -->
<!--  <dt>
 <div class="ni-wrapper">
     <div class="ni-years">2013-14</div>
     <span class="inactive">Full year</span>
   </div>
 </dt>
 <dd>
 </dd>-->
  <!-- gap 1 -->
  <dt>

    <div class="ni-wrapper">
     <div class="ni-years">2012-13</div>
     <div class="ni-cost"><strong> £50</strong></div>
     <div class="ni-payby">6 April 2019</div>
     <div class="ni-action"><a href="/20/basket55">View details</a></div>
   </div>


 </dt>
     <dd></dd>

<!-- gap end -->
   <!-- gap 2 -->
    <!-- 2013 -->

   <dt>
     <div class="ni-wrapper">
       <div class="ni-years">2011-12</div>
       <div class="ni-cost"><strong> £722</strong></div>
       <div class="ni-payby">6 April 2018</div>
       <div class="ni-action"><a href="/20/basket2011">View details</a></div>
     </div>
    
   </dt>
    <dd></dd>

<!-- gap 3 -->
      <dt>
           <div class="ni-wrapper">
             <div class="ni-years">2009-10</div>
             <div class="ni-cost"><strong> £648</strong></div>
             <div class="ni-payby">6 April 2017</div>
             <div class="ni-action"><a href="/20/basket2009">View details</a></div>
           </div>

      </dt>
        <dd></dd>
<!-- year end -->

</dl>
<dl class="accordion">
  <!-- 2007 -->
<!-- gap 4 --> 
     <dt class="late">
         <div class="ni-wrapper">
             <div class="ni-years">2007-08</div>
             <div class="ni-late">It's too late to pay for this year</div>
             <div class="ni-action"><a href="#">View details</a></div>
         </div>
      
       <dd class="lastdate">
             <div class="contributions-wrapper panel-indent">
                <p>You didn't make any contributions this year.</p>
                <p>The last date you could pay by was 6 April 2015.</p> <p>If you think your record is wrong or you are entitled to credits because you were unemployed or unable to work, find out how to <a href="ni-record-help5">check and correct your National Insurance record</a>.</p> 
            </div>
        </dd> 
        </dt>
       <dt class="late">
             <div class="ni-wrapper">
                 <div class="ni-years">2006-07</div>
                 <div class="ni-late">It's too late to pay for this year</div>
                 <div class="ni-action"><a href="#">View details</a></div>
             </div>
       

            <dd class="lastdate">
                 <div class="contributions-wrapper panel-indent">
                <p>You didn't make any contributions this year.</p>
                   <p>The last date you could pay by was 6 April 2014.</p> <p>If you think your record is wrong or you are entitled to credits because you were unemployed or unable to work, find out how to <a href="ni-record-help5">check and correct your National Insurance record
                     </a>.</p> </div>
            </dd>
    </dt>
</dl>
