{% extends '../layouts/template.html' %}
{% block title %}Check your State Pension - {{mvpversion}}{% endblock %}
{% block serviceName %}Check your State Pension{% endblock %}
{% block main %}

<div class="grid-row">
	<div class="column-two-thirds">

		<h1 class="heading-large">We&rsquo;ve confirmed your identity</h1>
		<p>You can now see your State Pension estimate and National Insurance record.</p>
		<p><a href="dashboardA" class="button">Continue</a></p>

	</div><!-- /.column-two-thirds -->
	<div class="column-third"></div><!-- /.column-one-thirds -->
</div><!-- grid row -->

{% endblock %}