{% extends '../layouts/template.html' %}
{% block title %}Check your State Pension - {{mvpversion}}{% endblock %}
{% block serviceName %}Check your State Pension{% endblock %}
{% block main %}

<div class="grid-row">
  <div class="column-two-thirds">

    <h2 class="heading-large">Your State Pension</h2>
    <h3 class="heading-medium" style="margin: 10px 0 -10px 0">Summary</h3>

    <div class="tab-content">
      <div class="highlighted-event">

        <p>You can get your State Pension on 31&nbsp;May&nbsp;2018 when you&rsquo;ll be 65, your forecast is</p>
        <p><em>£108.87 a week</em></p>
        <p>£471.77 a month, £5,661.24 a year</p>

      </div><!-- /.highlighted-event -->

      <p>Your forecast</p>
      <ul class="list-bullet">
        <li>is not a guarantee and is based on the current law</li>
        <li>does not include any increase due to inflation</li>
      </ul>

      <h3 class="heading-medium">You need to continue to contribute National Insurance to reach your forecast</h3>
      <div class="chart-block">
        <div class="graph-title">Estimate based on your latest National Insurance record 5&nbsp;April&nbsp;2017</div>
        <ul class="graph">
          <li><span class="amount" style="width:{{104/125*100}}%">£104.42 a week</span></li>
        </ul>
      </div>

      <div class="chart-block">
        <div class="graph-title">Forecast if you continue to contribute until 5 April 2018</div>
        <ul class="graph">
          <li><span class="amount" style="width:{{108/125*100}}%">£108.87 a week</span></li>
        </ul>
      </div>

      <h3 class="heading-medium">You can improve your forecast</h3>
      <p>You have previous years in your National Insurance record where you did not contribute enough.</p>
      <ul class="list-bullet">
        <li>paying voluntary contributions can make these years count toward your pension and improve your forecast</li>
      </ul>

      <div id="personal-max">
        <div class="chart-block" style="margin-bottom: 50px">
          <span class="graph-title">The most you can improve your forecast to is</span>
          <ul class="graph">
            <li><span class="amount" style="width:{{125/125*100}}%">£125.25 a week</span></li>
          </ul>
        </div>
      </div>

      <p style="margin-top: 50px"><a href="../ni/ni-modelling-options31">How to fill years and improve your pension</a></p>

    </div><!-- /.tab-pane -->
  </div><!-- /.column-two-thirds -->
  <div class="column-third"></div><!-- /.column-third -->
</div><!-- /.grid-row -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#show-all").click(function(){
        $("#modelling").show();
        $("#personal-max").hide();
    });
    $("#show-less").click(function(){
        $("#modelling").hide();
        $("#personal-max").show();
    });

  $(document).ready(function() {
    			var option = 'coke';
    			var url = window.location.href;
    			option = url.match(/option=(.*)/)[1];
    			showDiv(option);
    		});
    		function showDiv(option) {
    			$('.boxes').hide();
    			$('#' + option).show();
    		}

});
</script>

{% endblock %}
