
					 <h1 class="heading-large">Get a State Pension forecast or statement</h1>
          <p>Find out how much State Pension you may get, how to get more and when you can claim it.</p>
            <div class="panel-indent">You’ll be sent to <a href="">GOV.UK Verify</a> to sign in. If you haven’t used GOV.UK Verify before, it will take you about 10 minutes to get set up.</div>

          <a id="Start" href="start_landingA" role="button" class="button button-get-started" style="margin-top: 0">Start now</a>
        
    <div class="tab-content">
            <div class="js-tabs nav-tabs">

              <ul class="tabs-nav" role="tablist">
                <li class="active"><a href="#current-sp-value" id="tab-current-sp-value">What you need to know</a></li>
                <li><a href="#improve-sp-value" id="tab-improve-sp-value">Other ways to apply</a></li>
              </ul>

            </div>

            <div class="tab-pane" id="current-sp-value" style="display: block;">
            <p> If you’ve ever worked and paid National Insurance in the Isle of Man contact the <a href="https://www.gov.uk/future-pension-centre">Pensions Service</a>.</p>
          </div>

              <div class="tab-pane" id="improve-sp-value" style="display: none;">

          <ul class="list-bullet">
            <p>You can get a statement of how much pension you’ve earned so far if you either:</p>
  <li>contact the <a href="https://www.gov.uk/future-pension-centre">Pension Service</a>
</li>
  <li>fill in the <a href="https://www.gov.uk/government/publications/application-for-a-state-pension-statement">BR19 application form</a> to get a statement by post (if you reach State Pension age in more than 30 days)</li>
</ul></div>

					</div>