 <h1>Check your State Pension</h1>
      
      <p class="lede">Check how much pension you can get based on your National Insurance record.</p>
<div class="panel-indent">This estimate is based on the current law. It's provided for your information only and the service does not offer financial advice. When planning for your retirement, you should seek professional advice.</p></div>
      <p class="heading-medium">You can use this service if you're</p>

        <ul class="list-bullet">
         <li>a man born after 5 April 1951</li>
         <li>a woman born after 5 April 1953</li>
       </ul>