{{<govuk_template}}

{{$head}}
  {{>head}}
{{/head}}

{{$content}}
<div id="wrapper">
	<main id="content" role="main">
	  <div class="inner-block">

		  <a href="/examples/elements/intro" class="example-back-link">
			Back to the GOV.UK elements introduction
		  </a>

		  <h1 class="heading-xlarge">
			Forms
		  </h1>

		  <form action="get" class="form">

			<!-- Fieldset with hint and example text -->

			<fieldset>

			  <legend class="heading-large">
				Your personal details
			  </legend>

			  <div class="form-group">
				<label class="form-label" for="full-name">Full name</label>
				<p class="form-hint">As shown on your birth certificate or passport</p>
				<input type="text" class="form-control" id="full-name">
			  </div>

			  <div class="form-group">
				<label class="form-label" for="other-names">Any other last names</label>
				<p class="form-hint">E.g. your maiden name</p>
				<input type="text" class="form-control" id="other-names">
			  </div>

			</fieldset>

			<!-- Compound form controls -->

			<fieldset>

			  <legend class="heading-large">
				Your address
			  </legend>

			   <div class="form-group form-group-compound">
				<label class="form-label" for="address-line-1">Street address</label>
				<input type="text" class="form-control" id="address-line-1">
			  </div>

			  <div class="form-group">
				<label class="form-label visuallyhidden" for="address-line-2">Second line of address</label>
				<input type="text" class="form-control" id="address-line-2">
			  </div>

			  <div class="form-group">
				<label class="form-label" for="address-town">Town or City</label>
				<input type="text" class="form-control form-control-1-4" id="address-town">
			  </div>

			  <div class="form-group">
				<label class="form-label" for="address-postcode">Postcode</label>
				<input type="text" class="form-control form-control-1-8" id="address-postcode">
			  </div>

			</fieldset>

			<div class="form-group">
			  <input type="submit" class="button" value="Save and continue">
			</div>
			<a href="#">Back</a>

		  </form>

	  </div>
	</main>
</div>
{{/content}}

{{/govuk_template}}
