{{<govuk_template}}

{{$head}}
  {{>head}}
{{/head}}

{{$content}}
<div id="wrapper">
	<main id="content" role="main">
	  <div class="inner-block">

		<a href="/" class="example-back-link">Back to the prototyping kit</a>

		<h1 class="heading-xlarge">
		  GOV.UK elements
		  <span class="heading-secondary">
			Layout, typography, colour, images, icons, forms, buttons and data.
		  </span>
		</h1>

		<p>
		  Take a look at the <a href="http://govuk-elements.herokuapp.com/">GOV.UK elements guide</a>.
		  <br>
		  This protype provides these styles as a starting point for creating pages.
		</p>
		<p>
		  Here's a few example pages:
		</p>

		<ul class="list-bullet">
		  <li><a href="/examples/elements/grid-layout">Grid layout</a></li>
		  <li><a href="/examples/elements/typography">Typography</a></li>
		  <li><a href="/examples/elements/forms">Forms</a></li>
		   <li><a href="/examples/elements/buttons">Buttons</a></li>
		</ul>


	  </div>
	</main>
</div>
{{/content}}

{{/govuk_template}}
