{% extends '../layouts/template.html' %}
{% block title %}Check my State Pension - {{mvpversion}}{% endblock %}
{% block serviceName %}Check your State Pension{% endblock %}
{% block main %}

<div class="grid-row">
  <div class="column-two-thirds">
<div id="global-breadcrumb" class="pta-breadcrumb">
   <ol role="breadcrumbs" class="group">
      <li><a href="#">Account home</a></li>
      <li><a href="javascript:history.back()">State Pension</a></li>
     
   </ol>
</div>
   
   <h2 class="heading-large ">You were contracted out</h2>

<p>In the past you've been part of one or more contracted out pension schemes, such as workplace or personal pension schemes.</p>
<p>When you were contracted out:</p>

<ul class="list-bullet">
  <li>you and your employers paid lower rate National Insurance contributions; or</li>
  <li>some of your National Insurance contributions were paid into your other pension schemes instead</li>
</ul>

<p>We call the amount of additional State Pension you would have been paid if you had not been contracted out the Contracted Out Pension Equivalent (COPE).</p>

<h2 class="heading-medium">Contracted Out Pension Equivalent (COPE)</h2>

<p>In most cases an amount at least equal to the COPE will be paid as part of your workplace or personal pensions. The actual pension amount paid by your workplace or personal pension schemes will depend on the characteristics of your schemes and any investment choices you may make.</p>

<table class="cope-table">
  <tr><th></td><th>a week</th></tr>
  <tr><td>Your COPE estimate</td><td>£30.50</td></tr>
  <tr><td>Your State Pension forecast</td><td>£140.65</td></tr>
  <tr><td>COPE added to your State Pension forecast</td><td>£171.15</td></tr>
</table>

<br>
<p>The COPE amount is paid as part of your other pension schemes, not by the government.</p>
<p>More about <a href="https://www.gov.uk/government/publications/state-pension-fact-sheets/contracting-out-and-why-we-may-have-included-a-contracted-out-pension-equivalent-cope-amount-when-you-used-the-online-service" rel="external" target="_blank">contracting out and why we may have included a Contracted Out Pension Equivalent (COPE) amount (opens in new tab)</a>.</p>


  </div><!-- /.column-two-thirds -->
  <div class="column-third">
    <div class="related" id="related" style="margin-top: 50px">
      <div class="inner group related-subsection">

        {% include '../dashboard/help.html' %}

      </div>
    </div>
  </div><!-- /.column-third -->
</div><!-- /.grid-row -->
</div>

{% endblock %}