{% extends '../layouts/template.html' %}
{% block title %}Check my State Pension - {{mvpversion}}{% endblock %}
{% block serviceName %}Check your State Pension{% endblock %}
{% block main %}

<div class="grid-row">
  <div class="column-two-thirds">
    <div id="global-breadcrumb" class="pta-breadcrumb">

      <ol role="breadcrumbs" class="group">
        <li><a href="#">Account home</a></li>
      </ol>

    </div>

    <h2 class="heading-large">Your State Pension</h2>
    <h3 class="heading-medium" style="margin: 10px 0 -10px 0">Summary</h3>

    <div class="tab-content">
      <div class="highlighted-event">

        <p>You can get your State Pension on 1&nbsp;December&nbsp;2020 when you'll be 66, your estimate is</p>
        <p><em>£140.65 a week</em></p>
        <p>£609.48 a month, £7,313.80 a year</p>

      </div><!-- /.highlighted-event -->

      <p>Your estimate</p>
      <ul class="list-bullet">
        <li>is not a guarantee and is based on the current law</li>
        <li>does not include any increase due to inflation</li>
      </ul>

      <h3 class="heading-medium">Breakdown</h3>
      <div class="chart-block" style="margin-bottom: 80px">
        <div class="graph-title">Estimate based on your National Insurance record up to 5 April 2015</div>
        <ul class="graph">
          <li><span class="amount" style="width:{{86/100*100}}%">£130 a week</span></li>
        </ul>
      </div>

      <div class="chart-block" style="margin-bottom: 80px">
        <div class="graph-title">Estimate if you continue to contribute until 2020</div>
        <ul class="graph">
          <li><span class="amount" style="width:{{100/100*100}}%">£140.65 a week</span></li>
        </ul>
      </div>

      <h3 class="heading-medium">£140.65 is the most you can get</h3>
    <p>When you reach State Pension age in 2020, you no longer have to pay National Insurance contributions.</p>
    
      <p><a href="/29/ni/ni-persephone-full6">View your National Insurance record</a></p>
   
    </div><!-- /.tab-pane -->
  </div><!-- /.column-two-thirds -->
  <div class="column-third">
    <div class="related" id="related" style="margin-top: 50px">
      <div class="inner group related-subsection">

        {% include '../dashboard/help.html' %}

      </div>
    </div>
  </div><!-- /.column-third -->
</div><!-- /.grid-row -->
</div>

{% endblock %}