{% extends '../layouts/template.html' %}
{% block title %}Check your State Pension - {{mvpversion}}{% endblock %}
{% block serviceName %}Check your State Pension{% endblock %}
{% block main %}
{% include '../persephone_login.html' %}

<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-large">Your State Pension</h2>
        <h3 class="heading-medium" style="margin: 10px 0 -10px 0">Summary</h3>
        
        <div class="tab-content">
            <div class="highlighted-event">

                <p>You can get your State Pension on 1&nbsp;December&nbsp;2020 when you'll be 66, your estimate is</p>
                <p><em>£130 a week</em></p>
                <p>£567 a month, £6,812 a year</p>

            </div><!-- /.highlighted-event -->

            <p>Your estimate</p>
            <ul class="list-bullet">
                <li>is not guaranteed</li>
                <li>does not include any increase due to inflation</li>
            </ul>

            <h3 class="heading-medium">Breakdown</h3>

            <div class="chart-block">
                <div class="graph-title">Amount based on your latest National Insurance record (5 April 2015)</div>
                <ul class="graph">
                    <li><span class="amount" style="width:{{75/100*100}}%">£110 a week</span></li>
                </ul>
                <span class="footnote">You have 25 years of full contributions</span>
            </div>

            <div class="chart-block">
                <div class="graph-title">Amount if you continue to contribute National Insurance</div>
                <ul class="graph">
                    <li><span class="amount" style="width:{{90/100*100}}%">£130 a week</span></li>
                </ul>
                <span class="footnote">You will have 30 years of full contributions</span>
            </div>

            <h3 class="heading-medium">How to increase it</h3>
            <p>You have gaps on your record for years when you did not contribute enough National Insurance. You can make up the shortfalls to make these years count towards your pension and improve your forecast.</p>

            <div class="chart-block">
                <span class="graph-title">The most you can get by filling 3 gaps in your record</span>
                <ul class="graph">
                    <li><span class="amount" style="width:({{131/145*100}})%">£145 a week</span></li>
                </ul>
                <span class="footnote">Total of 33 years of full contributions</span>
            </div>

            <p><a href="/25/start/extra_security">View your National Insurance record</a> to find out about filling gaps and making payments.</p>

            </div><!-- /.tab-pane -->
        </div><!-- /.column-two-thirds -->

        <div class="column-third">
            <div class="related" id="related"  style="margin-top: 50px">
                <div class="inner group related-subsection">
                    {% include '../dashboard/help.html' %}
                </div>
            </div>
        </div> <!-- /.column-third -->
    </div><!-- /.grid-row -->
</div>

<script type="text/javascript">

jQuery(document).ready(function($){


    $("a#tab-current-sp-value").click(function() { 
        $(".tabs-nav li").removeClass("active");
	
        $(this).parent().addClass("active");
        $("#current-sp-value").show();
        $("#improve-sp-value").hide();
        window.location.hash = "#lie-current-sp-value";
        return false;
    });
    $("a#tab-improve-sp-value").click(function() { 
        $(".tabs-nav li").removeClass("active");
		
        $(this).parent().addClass("active");
        $("#improve-sp-value").show();
        $("#current-sp-value").hide();
        window.location.hash = "#lie-improve-sp-value";
        return false;
    });

    if(window.location.hash === "#lie-current-sp-value") {
        $("a#tab-current-sp-value").trigger('click');
    }
    else if (window.location.hash === "#lie-improve-sp-value") {
        $("a#tab-improve-sp-value").trigger('click');
    }
});



</script>


{% endblock %}