{% extends '../layouts/template.html' %}
{% block title %}Check your State Pension - {{mvpversion}}{% endblock %}
{% block serviceName %}Check your State Pension{% endblock %}
{% block main %}

<div class="grid-row">
	<div class="column-two-thirds">

		<h1 class="heading-large">We were unable to confirm your identity</h1>
		<h2 class="heading-medium">Using GOV.UK Verify</h2>
		<p>You can also <a href="https://www.signin.service.gov.uk/start">sign in using GOV.UK Verify</a>. If you have not used GOV.UK Verify before, it will take you about 10 minutes to get set up.</p>

		<h2 class="heading-medium">Other ways to get a statement</h2>
		<p>If you cannot use the online service contact the <a href="https://www.gov.uk/future-pension-centre">Future Pension Centre</a>.</p>

	</div><!-- /.column-two-thirds -->
	<div class="column-third">
	</div><!-- /.column-one-thirds -->
</div>

{% endblock %}