{% extends '../layouts/template.html' %}
{% block title %}Check your National Insurance record {{mvpversion}}{% endblock %}
{% block serviceName %}Check your National Insurance record{% endblock %}
{% block main %}
{% include '../persephone_login.html' %}

</div>
<div class="grid-row">
  <div class="column-two-thirds">
    <a href="/29/dashboard/dashboardA" class="example-back-link">Back</a>

    <h2 class="heading-large">Gaps in your National Insurance record</h2>
    <p> To increase your pension estimate to your maximum £155.65 a week</p>
    <ul class="list-bullet">
      <li>fill any 3 gaps </li>
      <li>it does not matter which shortfalls you pay to do this (the <span style="background-color: #FFBF47; padding: 2px">cheapest</span> are highlighted)</li>
    </ul>

    <p><a href="#">View all years</a></p>

    {% include './ni_table5.html' %}

    <a href="/29/dashboard/dashboardA" class="example-back-link">Back</a>

  </div><!-- /.column-two-thirds -->
  <div class="column-third">
    <div class="related" id="related">
      <div class="inner group related-subsection">

        <h2 class="heading-small">Summary</h2>

        <nav role="navigation" aria-labelledby="parent-subsection">
          <ul class="list-bullets">
            <li><span style="font-size: 24px; font-weight: 700">26</span><br>years of full contributions</li>
            <li><span style="font-size: 24px; font-weight: 700">4</span><br>years to contribute before 2020</li>
          </ul>
        </nav>

      </div>
    </div>
  </div> <!-- /.column-third -->
</div><!-- /.grid-row -->

{% endblock %}