{% extends '../layouts/template.html' %}
{% block title %}Check your State Pension - {{mvpversion}}{% endblock %}
{% block serviceName %}Check your State Pension{% endblock %}
{% block main %}

<div class="grid-row">
	<div class="column-two-thirds">

		<h1 class="heading-large">Maximum number of attempts reached</h1>
		<p class="lede">You have reached the maximum number of attempts to confirm your identity.</p>
		<p>You can try again in 7 days.</p>

		<h2 class="heading-medium">Other ways to get a statement</h2>
		<p>If you cannot use the online service contact the <a href="https://www.gov.uk/future-pension-centre">Future Pension Centre</a> to get a statement through the post.</p>

	</div><!-- /.column-two-thirds -->
	<div class="column-third">
	</div><!-- /.column-one-thirds -->
</div>

{% endblock %}