{% extends '../layouts/template.html' %}
{% block title %}Check your State Pension - {{mvpversion}}{% endblock %}
{% block serviceName %}Check your State Pension{% endblock %}
{% block main %}

<div class="grid-row">
  <div class="column-two-thirds">

    <h2 class="heading-large">Your State Pension</h2>
    <h3 class="heading-medium">You’ll reach State Pension age on 1&nbsp;December&nbsp;2020 when you’ll be 67</h3>

    <!-- /.highlighted-event -->
    <div class="panel-indent">
      <p>By the time you reach State Pension age you’ll be 3 years short of getting any State Pension.</p>
    </div>

    <h3 class="heading-medium">It’s not possible for you to get any State Pension based on your National Insurance record</h3>
    <p>If you have lived or worked overseas, you may be able to use your time abroad to make your years in the UK qualify for the purposes of getting any State Pension. <a href="https://www.gov.uk/new-state-pension/living-and-working-overseas" rel="external" target="_blank">More information on living and working overseas (opens in new tab)</a>.</p>
    <p>You also have 2 years on your record which do not count towards your pension because you did not contribute enough National Insurance. After filling these years you’ll be a year short of getting any State Pension.</p>
    <p><a href="#">Gaps in your record and the cost of filling them</a></p>
    <p>After State Pension age, 6 July 2018 you no longer pay National Insurance contributions.</p>

    <h3 class="heading-medium">What you can do next</h3>
    <p>You may have a private pension. For more details about your private pension you will need to contact your pension provider. Use the free service to <a href="https://pts-iteration2.herokuapp.com/sprint-b3/start" rel="external" target="_blank">find pension contact details (opens in new tab)</a>.</p>
    <p>You may be eligible for <a href="https://www.gov.uk/pension-credit/overview" rel="external" target="_blank">Pension Credit (opens in new tab)</a> if your retirement income is low.</p>

  </div><!-- /.column-two-thirds -->
  <div class="column-third">
  </div>
</div><!-- /.column-third -->
</div><!-- /.grid-row -->
</div>

{% endblock %}