{% extends '../layouts/template.html' %}
{% block title %}Check your State Pension - {{mvpversion}}{% endblock %}
{% block serviceName %}Check your State Pension{% endblock %}
{% block main %}

<div class="grid-row">
  <div class="column-two-thirds">

    <h2 class="heading-large">Your State Pension</h2>
    <h3 class="heading-medium">[You'll reach/You reached] State Pension age on [insert SPA date] when [you'll be/you were] 67</h3>

    <div class="panel-indent">
      <p>[Reason why we can't show a forecast]. Contact <a href="">Future Pension Centre</a> [to get whatever they can offer].</p>
    </div>

    <p>[Intro about NI record if needed]</p>
    <p><a href="#">View your National Insurance record</a></p>

    <!-- <details class="helptext" role="group" open=""><summary role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="false"><span class="summary"> More about contributions</span></summary><div class="panel-indent" id="details-content-1" aria-hidden="false" style="display: block;"><p>National Insurance contributions come from <ul class="list-bullet"><li>payments from employment</li><li>you can be credited if you’re not paying National Insurance, eg when you’re claiming benefits because you’re ill or unemployed.</li><li>voluntary contributions if you've missed payments</li></ul></div></details> -->
 
    </div><!-- /.tab-pane -->
  </div><!-- /.column-two-thirds --> 
  <div class="column-third">
   
    </div>
  </div><!-- /.column-third -->
</div><!-- /.grid-row -->
</div>

{% endblock %}