{% extends '../layouts/template.html' %}
{% block title %}Check your State Pension - {{mvpversion}}{% endblock %}
{% block serviceName %}Check your State Pension{% endblock %}
{% block main %}

<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-large">Your State Pension</h1>

    <div class="panel-indent panel-border-wide style1">
      <p>You’ll reach State Pension age on 1&nbsp;December&nbsp;2020 when you’ll be 67.</p>
      <p>By this time, you will not be able to get the 10 years needed on your National Insurance record to get any State Pension.</p>
    </div>

    <h3 class="heading-medium">What you can do next</h3>
    <p><a href="https://www.gov.uk/new-state-pension/living-and-working-overseas" rel="external" target="_blank">If you have lived or worked overseas (opens in new tab)</a>, you may be able to use your time abroad to make your years in the UK qualify for the purposes of getting any State Pension.</p>
    <p>You also have 2 years on your record which do not count towards your pension because you did not contribute enough National Insurance. Filling these are not enough to get any State Pension.</p>
    <p><a href="#">View your National Insurance record</a></p>
    <p>After State Pension age, 1&nbsp;December&nbsp;2020 you no longer pay National Insurance contributions.</p>

    <h3 class="heading-medium">What else you can do</h3>
    <p>You may have a private pension. Use the free service to <a href="https://pts-iteration2.herokuapp.com/sprint-b3/start" rel="external" target="_blank">find pension contact details (opens in new tab)</a>.</p>
    <p>You may be eligible for <a href="https://www.gov.uk/pension-credit/overview" rel="external" target="_blank">Pension Credit (opens in new tab)</a> if your retirement income is low.</p>
    <p>Contact the <a href="http://www.pensionsadvisoryservice.org.uk/" rel="external" target="_blank">Pensions Advisory Service (opens in new tab)</a> for free impartial advice.</p>

  </div><!-- /.column-two-thirds -->
  <div class="column-third"></div><!-- /.column-third -->
</div><!-- /.grid-row -->

{% endblock %}