<h2 class="heading-medium">Fill gaps in your National Insurance record</h2>
<p>The most you can get in 2020 by filling gaps is <br>£145 a week (£628 a month, £7,450 a year)</a></p>

<h3 class="heading-small">1. Check how much it costs to fill years and the effect on your pension</h3>

<table class="modelling">
  <tr>
    <th>Years with gaps</th>
    <th>One-off cost</th>
    <th>Last date you can pay</th>
    <th colspan="2"></th>
  </tr>
  
  <tr>
    <td>2012-13</td>
    <td>£50</td>
    <td>6 April 2018</td>
    <td style="text-align: right"><a href="#amount_removed" class='panel-back'>Remove</a></td>
  </tr>

  <tr>
    <td>2011-12</td>
    <td>£722</td>
    <td>6 April 2017</td>
    <td style="text-align: right"><a href="#">Add this year</a></td>
  </tr>

  <tr>
    <td>2009-10</td>
    <td>£648</td>
    <td>6 April 2016</td>
    <td style="text-align: right"><a href="#">Add this year</a></td>
  </tr>

</table>

<a name="amount_added"></a>
<br>
<p>Adding this year will increase your forecast from:</p>
<img class="forcast-image" src="/public/images/forecast_plus_gaps.png">
<p style="padding-top: 10px">to<br><img class="forcast-image" src="/public/images/page2_gap_added.png"></p>

<br>
<h3 class="heading-small">2. Check your National Insurance record is correct</h3>
<ul class="list-bullet">
  <li>if you think it's wrong you may be able to correct it</li>
  <li>if you were unemployed or unable to work you may be entitled to claim National Insurance credits</li>
</ul>
<p>Correcting your record or claiming credits may make years count towards your State Pension.</p>
<a href="ni-persephone-full2" class="button">Check your National Insurance record</a>