{% extends '../layouts/template.html' %}
{% block title %}Check your State Pension {{mvpversion}}{% endblock %}
{% block serviceName %}Check your State Pension{% endblock %}
{% block main %}

<div class="grid-row">
  <div class="column-two-thirds">
    <a href="javascript:window.history.back();" class="example-back-link">Back</a>

    <h2 class="heading-large">Paying voluntary contributions</h2>
    <p><span class="heading-medium">Pay {{ cost }}</span><br />to improve your pension forecast from £130.10 to {{ increase }} a week</p>
    <p>this will give you an extra:</p>
    <ul class="list-bullet">
      <li>{{ week }} a week</li>
      <li>{{ month }} a month</li>
      <li>{{ year }} a year</li>
    </ul>

    <h3 class="heading-medium">Before you pay</h3>
    <p>Paying {{ cost }} will fill the gap in this year in your record</p>
    <ul class="list-bullet">
      <li>2012-13</li>
    </ul>
    <p><a href="ni-years-check">Check your National Insurance record</a> to find out more about the years with gaps. If you have evidence that it&rsquo;s wrong you can correct it. Correcting your record can fill a gap and improve your pension.</p>
    <p><a href="ni-modelling-pay">Consider if paying voluntary contributions is your best option</a>.</p>

    <h3 class="heading-medium">Payment by cheque</h3>
    <p>You can send your payment to HMRC directly. Make your cheque payable to &lsquo;HM Revenue and Customs only&rsquo; followed by your payment reference.</p>
    <p>Include a note with:</p>
    <ul class="list-bullet">
      <li>your name, address and telephone number</li>
      <li>your National Insurance number</li>
      <li>the years you&rsquo;re paying for</li>
      <li>whether you want a receipt</li>
    </ul>
    <p>Post it to:</p>
    <p>HM Revenue and Customs<br />
      National Insurance Contributions and Employer Office<br />
      Benton Park View<br />
      Newcastle upon Tyne<br />
      NE98 1ZZ
    </p>
    <p>Allow 3 working days for the payment to reach HMRC.</p>

    <div class="panel-indent">
      <p>It can take around 28 days to update your National Insurance record with any voluntary contributions you make.</p>
    </div>
    <a href="javascript:window.history.back();" class="example-back-link">Back</a>

  </div><!-- /.column-two-thirds -->
  <div class="column-third"></div><!-- /.column-third -->
</div><!-- /.grid-row -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#show-all").click(function(){
        $("#modelling").show();
        $("#personal-max").hide();
    });
    $("#show-less").click(function(){
        $("#modelling").hide();
        $("#personal-max").show();
    });
});
</script>

{% endblock %}