{% extends '../layouts/template.html' %}
{% block title %}Check my State Pension - {{mvpversion}}{% endblock %}
{% block serviceName %}{% endblock %}
{% block main %}

<div class="grid-row">
  <div class="column-two-thirds">

    <h1>Prototype 29 logins</h1>
   <ul class="list-bullet">

    <li><strong>can improve forecast with gaps</strong><br>
      davida 123456</li>
    <li><strong>will get maximum before SPA - gaps not needed</strong><br>
    janeb 123456</li>
    <li><strong>already got the maximum</strong><br>
    johnc 123456</li>
 
    <li><strong>won't reach max before SPA - no gaps</strong><br>
    burtd 123456</li>
         <li><strong>won't reach max before SPA - contracted out</strong><br>
    michellee 123456</li>

    </ul>

    <a href="start_gov_uk">GOV.UK start page</a>

  </div><!-- /.column-two-thirds -->
  <div class="column-third">
    <div class="related-container">
      <aside class="related" id="related">
        <div class="inner group related-other">

          <h2 id="parent-other">Elsewhere on GOV.UK</h2>
          <nav role="navigation" aria-labelledby="parent-other">
            <ul>
              <li><a href="https://www.gov.uk/plan-retirement-income/overview">Plan your retirement income</a></li>
            </ul>
          </nav>

        </div>
        <div class="inner group">
        </div>
      </aside>
    </div><!-- /.column-one-thirds -->
  </div>		

{% endblock %}