{% extends '../layouts/template.html' %}
{% block title %}Check your State Pension {{mvpversion}}{% endblock %}
{% block serviceName %}Check your State Pension{% endblock %}
{% block main %}

<div class="grid-row">
  <div class="column-two-thirds">
      <a href="../dashboard/dashboardA" class="example-back-link">Back</a>

      <h2 class="heading-large">How to increase your pension</h2>
      <p class="lede">To fill gaps in your National Insurance record and increase your pension, you should:</p>
      <div class="notice">
        <h3 class="heading-medium">
          <i class="icon icon-number1"><span class="visuallyhidden">1.</span></i>Check your record is correct
        </h3>
      </div>
      <p>If you have evidence that it&rsquo;s wrong you can correct it. If correcting your record fills a gap it may increase your pension.</p>
      <p><a href="ni-years-check">Check your National Insurance record</a></p>

      <a name="options"></a><div class="notice">
        <h3 class="heading-medium">
          <i class="icon icon-number2"><span class="visuallyhidden">2.</span></i>Pay voluntary contributions
        </h3>
      </div>
      <p>You can pay to fill gaps in your record and increase your pension.</p>
    </div><!-- /.column-two-thirds -->
    <div class="column-third"></div> <!-- /.column-third -->
  </div><!-- /.grid-row -->

  <p>your pension estimate is<br><span class="options-data">£130.10 a week</span></p>

  <h4 class="heading-medium">Options to increase it</h4>

  <!-- 2013 -->
  <dl>
    <dt onclick="window.location = 'ni-modelling-pay?cost=£300&increase=£142.10';" style="cursor: hand; cursor: pointer;">
      <div class="options-wrapper">
        <div class="options-flag">This is the most pension you can get</div>
        <div class="options-increase"><p>increase estimate to<br><span class="options-data">£142.10 a week</span></p></div>
        <div class="options-gaps"><p>gaps filled<br><span class="options-data">3</span></p></div>
        <div class="options-cost"><p>total one-off cost<br><span class="options-data">£300</span></p></div>
        <div class="options-button"><a href="ni-modelling-pay?cost=£300&increase=£142.10" class="button button-secondary" name="test">Payment options</a></div>
      </div>
    </dt>

    <dt id="full-list" style="display: none; cursor: hand; cursor: pointer;" onclick="window.location = 'ni-modelling-pay?cost=£150&increase=£137.10';">
      <div class="options-wrapper">
        <div class="options-increase"><p>increase estimate to<br><span class="options-data">£137.10 a week</span></p></div>
        <div class="options-gaps"><p>gaps filled<br><span class="options-data">2</span></p></div>
        <div class="options-cost"><p>total one-off cost<br><span class="options-data">£150</span></p></div>
        <div class="options-button"><a href="ni-modelling-pay?cost=£150&increase=£137.10" class="button button-secondary" name="test">Payment options</a></div>
      </div>
    </dt>

    <dt onclick="window.location = 'ni-modelling-pay?cost=£50&increase=£134.10';"  style="cursor: hand; cursor: pointer;">
      <div class="options-wrapper">
        <div class="options-flag">This is your cheapest option</div>
        <div class="options-increase"><p>increase estimate to<br><span class="options-data">£134.10 a week</span></p></div>
        <div class="options-gaps"><p>gaps filled<br><span class="options-data">1</span></p></div>
        <div class="options-cost"><p>total one-off cost<br><span class="options-data">£50</span></p></div>
        <div class="options-button"><a href="ni-modelling-pay?cost=£50&increase=£134.10" class="button button-secondary" name="test">Payment options</a></div>
      </div>
    </dt>
  </dl>

  <div id="more-options">
    <a id="show-all" href="#" name="test">Show all options</a>
  </div>
  <a href="../dashboard/dashboardA" class="example-back-link">Back</a>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
$(document).ready(function(e){
    $("#show-all").click(function(e){
        e.preventDefault();
        $("#full-list").show();
        $("#more-options").hide();
    });
});
</script>
{% endblock %}