{% extends '../layouts/template.html' %}
{% block title %}Check your State Pension - {{mvpversion}}{% endblock %}
{% block serviceName %}Check your State Pension{% endblock %}
{% block main %}

<a href="javascript:window.history.back();" class="example-back-link">Back</a>

<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-xlarge" style="margin: 1em 0 0">
      <h2 class="heading-large">Your National Insurance record</h2>
      <p class="lede">You do not have any gaps in your record</P>
        <dl class="accordion2">
          <dt>
            <div class="ni-wrapper">
              <div class="ni-years2">2014-15</div>
              <div class="ni-full2">Your record for this year is not available yet</div>
            </div>
          </dt>

          <dt>
            <div class="ni-wrapper">
              <div class="ni-years2">2013-14</div>
              <div class="ni-full">Full year</div>
              <div class="ni-action"><a href="#">View details</a></div>
            </div>
          </dt>

          <dd>
            <div class="contributions-wrapper2">
              <p class="contributions-header">You have contributions from</p>
              <p>Paid-employment: <strong>£2,345.13</strong></p>
            </div>
          </dd>

          <dt>
            <div class="ni-wrapper">
              <div class="ni-years2">2012-13</div>
              <div class="ni-full">Full year</div>
              <div class="ni-action"><a href="#">View details</a></div>
            </div>
          </dt>

          <dd>
            <div class="contributions-wrapper2">
              <p class="contributions-header">You have contributions from</p>
              <p>Paid-employment: <strong>£2,200.15</strong></p>
              <p>In this year you were part of a <a href="">contracted out pension scheme</a>.</p>
            </div>
          </dd>

          <dt>
            <div class="ni-wrapper">
              <div class="ni-years2">2011-12</div>
              <div class="ni-full">Full year</div>
              <div class="ni-action"><a href="#">View details</a></div>
            </div>
          </dt>

          <dd>
            <div class="contributions-wrapper2">
              <p class="contributions-header">You have contributions from</p>
              <p>Paid-employment: <strong>£300.15</strong></p>
              <p>In this year you were part of a <a href="">contracted out pension scheme</a>.</p>
              <p>When you were claiming benefits or unable to work you were credited National Insurance for <strong>30 weeks</strong>.</p>
            </div>
          </dd>

          <dt>
            <div class="ni-wrapper">
              <div class="ni-years2">2010-11</div>
              <div class="ni-full">Full year</div>
              <div class="ni-action"><a href="#">View details</a></div>
            </div>
          </dt>

          <dd>
            <div class="contributions-wrapper2">
              <p class="contributions-header">You have contributions from</p>
              <p class="text">When you were claiming benefits or unable to work you were credited National Insurance for <strong>52 weeks</strong>.</p>
            </div>
          </dd>

          <dt>
            <div class="ni-wrapper">
              <div class="ni-years2">2009-10</div>
              <div class="ni-full">Full year</div>
              <div class="ni-action"><a href="#">View details</a></div>
            </div>
          </dt>

          <dd>
            <div class="contributions-wrapper2">
              <p class="contributions-header">You have contributions from</p>
              <p class="text">When you were claiming benefits or unable to work you were credited National Insurance for <strong>52 weeks</strong>.</p>
            </div>
          </dd>
        </dl>
        <a href="javascript:window.history.back();" class="example-back-link">Back</a>

	</div><!-- /.column-two-thirds -->
	 <div class="column-third">
    <div class="related" id="related">
      <div class="inner group related-subsection">

        {% include './ni_side_bar.html' %}

      </div>
    </div>
  </div> <!-- /.column-third -->
</div><!-- /.grid-row -->
</div><!-- /.grid-row -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">

// $(document).ready(function(){
//   var allPanels = $('.accordion > dd').hide();

//   $('.accordion > dt').click(function(){
//     if(!$(this).parent().parent().hasClass("active")){          
//       // allPanels.prev().removeClass("active");
//       $(this).parent().parent().addClass("active");
//       // $(this).parent().parent().next().slideDown();
//       return false;
//     }else{
//       $(this).parent().parent().removeClass("active");             
//       return false;
//     }
//   });
// });

var allPanels = $('.accordion2 > dd').hide(),
      allHeaders = $('.accordion2 > dt');

  $('.accordion2 > dt').click(function() {
    // $(this).parent().children("dd")
    //   // .hide()
    //   // .removeClass('active');
    
    // $(this).parent().children("dt")
    //   .children('span')
    //   .removeClass('down');

    if(!$(this).hasClass('active')) {
      // $(this).parent().children("dt")
      //   .removeClass('active');

      $(this)
        .addClass('active')
        .next()
        .show();

      $(this).find("a").text("Hide details");

    $(this)
      .children('span')
      .addClass('down');
    }
    else{
      $(this)
        .removeClass('active')
        .next()
        .hide();

      $(this).find("a").text("View details");
    }

    return false;
  });

</script>

{% endblock %}