{% extends '../layouts/template.html' %}
{% block title %}Check your State Pension {{mvpversion}}{% endblock %}
{% block serviceName %}Check your State Pension{% endblock %}
{% block main %}

<div class="grid-row">
  <div class="column-two-thirds">
    <a href="javascript:window.history.back();" class="example-back-link">Back</a>

    <h2 class="heading-large">Paying voluntary contributions</h2>
    <p lass="lede">You can pay voluntary contributions to fill gaps in your National Insurance record to make years count towards your State Pension.</p>
    <h3 class="heading-medium">Paying through your bank or building society</h3>
    <p>The quickest and easiest way to make a payment is using internet or telephone banking. You can also call into your local branch.</p>
    <ul class="list-bullet">
      <li>Account name: HMRC</li>
      <li>Account number: 123456789</li>
      <li>Sort code: 12-34-56</li>
    </ul>
    <div class="panel-indent panel-border-wide style1">
      <p>Your reference is <strong>ABC123DOREMI</strong></p>
    </div>
    <h3 class="heading-medium">Payment by cheque</h3>
    <p>You can send your payment to HMRC directly. Make your cheque payable to &lsquo;HM Revenue and Customs only&rsquo; followed by your reference number.</p>
    <p>Include a note with:</p>
    <ul class="list-bullet">
      <li>your name, address and telephone number</li>
      <li>your reference number or National Insurance number</li>
      <li>the periods you&rsquo;re paying for</li>
      <li>whether you want a receipt</li>
    </ul>
    <p>Post it to:</p>
    <p>HM Revenue and Customs<br />
      National Insurance Contributions and Employer Office<br />
      Benton Park View<br />
      Newcastle upon Tyne<br />
      NE98 1ZZ
    </p>
    <p>Allow 3 working days for the payment to reach HMRC.</p>
    <a href="javascript:window.history.back();" class="example-back-link">Back</a>


  </div><!-- /.column-two-thirds -->
  <div class="column-third"></div><!-- /.column-third -->
</div><!-- /.grid-row -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#show-all").click(function(){
        $("#modelling").show();
        $("#personal-max").hide();
    });
    $("#show-less").click(function(){
        $("#modelling").hide();
        $("#personal-max").show();
    });
});
</script>

{% endblock %}