{% extends '../layouts/template.html' %}
{% block title %}Check your State Pension - {{mvpversion}}{% endblock %}
{% block serviceName %}Check your State Pension{% endblock %}
{% block main %}

<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-large">There is a problem accessing the service</h1>
    <p class="lede">We need to speak to you before you can access your State Pension.</p>
    <h2 class="heading-medium">How to contact us</h2>
    <hr>
    <ul class="list-bullet">
      <li>Telephone: 0300 200 3300</li>
      <li>Textphone: 0300 200 3319</li>
      <li>Outside UK: +44 135 535 9022</li>
    </ul>
    <p>Telephone lines are open 8am to 8pm Monday to Friday and 8am to 4pm on Saturday.</p>
    <p>Closed Sundays and bank holidays.</p>
    <p>Telephone lines are less busy before 10am Monday to Friday.</p>
    <a href="#">Find out about call charges (opens in new window)</a>

  </div><!-- /.column-two-thirds -->
  <div class="column-third"></div><!-- /.column-third -->
</div><!-- /.grid-row -->

{% endblock %}