{% extends '../layouts/template.html' %}
{% block title %}Check your State Pension - {{mvpversion}}{% endblock %}
{% block serviceName %}Check your State Pension{% endblock %}
{% block main %}

<div class="grid-row">
	<div class="column-two-thirds">

		<h1 class="heading-large">Your session has ended due to inactivity</h1>
		<p class="lede">Your session has ended because you have not done anything for 15 minutes.</p>
		<p>We&rsqquo;ve deleted all the details you&rsqquo;ve entered to protect your data.</p>
		<a href="http://twofactor-prototype.herokuapp.com/01_govuk-login_sa?url=http://nisp2016.herokuapp.com/33/start/dashboardA&failUrl=http://nisp2016.herokuapp.com/32/start/failedIV" class="button" role="button">Start again</a>

	</div><!-- /.column-two-thirds -->
	<div class="column-third"></div><!-- /.column-one-thirds -->
</div><!-- grid-row -->

{% endblock %}