{% extends '../layouts/template.html' %}
{% block title %}Check my State Pension - {{mvpversion}}{% endblock %}
{% block serviceName %}{% endblock %}
{% block main %}

<div class="grid-row">
  <div class="column-two-thirds">

    {% include '../start/start_gov_text_intro.html' %}
    <a id="Start" href="start_landingA" role="button" class="button button-get-started" style="margin-top: 0">Start now</a>
    {% include '../start/start_gov_text_outro.html' %}

  </div><!-- /.column-two-thirds -->
  <div class="column-third">
    <div class="related-container">
      
      <aside class="related" id="related">
        <div class="inner group related-other">
          {% include '../start/start_gov_links.html' %}
        </div>
        <div class="inner group"></div>
      </aside>

    </div><!-- related container -->
  </div><!-- column third -->
</div><!-- grid row -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){

    $("a#tab-current-sp-value").click(function() { 
        $(".tabs-nav li").removeClass("active");
        $(this).parent().addClass("active");
        $("#current-sp-value").show();
        $("#contracted-out").hide();
        $("#improve-sp-value").hide();
        window.location.hash = "#lie-current-sp-value";
        return false;
    });
       $("a#tab-contracted-out").click(function() { 
        $(".tabs-nav li").removeClass("active");
        $(this).parent().addClass("active");
        $("#contracted-out").show();
        $("#improve-sp-value").hide();
        $("#current-sp-value").hide();
        window.location.hash = "#lie-contracted-out";
        return false;
    });
    $("a#tab-improve-sp-value").click(function() { 
        $(".tabs-nav li").removeClass("active");
        $(this).parent().addClass("active");
        $("#improve-sp-value").show();
        $("#contracted-out").hide();
        $("#current-sp-value").hide();
        window.location.hash = "#lie-improve-sp-value";
        return false;
    });

    if(window.location.hash === "#lie-current-sp-value") {
        $("a#tab-current-sp-value").trigger('click');
    }
     else if (window.location.hash === "#lie-contracted-out") {
        $("a#tab-contracted-out").trigger('click');
    }
    else if (window.location.hash === "#lie-improve-sp-value") {
        $("a#tab-improve-sp-value").trigger('click');
    }
});
$(document).ready(function(){
  var allPanels = $('.accordion > dd').hide();

  $('.accordion > dt').click(function(){
    if(!$(this).parent().parent().hasClass("active")){          
      allPanels.prev().removeClass("active");
      $(this).parent().parent().addClass("active");
      $(this).parent().parent().next().slideDown();
      return false;
    }else{
      $(this).parent().parent().removeClass("active");             
      return false;
    }
  });
});

</script>

{% endblock %}