{% extends '../layouts/template.html' %}
{% block title %}Check my State Pension - {{mvpversion}}{% endblock %}
{% block serviceName %}{% endblock %}
{% block main %}

<div class="grid-row">
  <div class="column-two-thirds">
    <!-- GOV.UK content -->
    <main id="content" role="main" class="">

      <h1 class="heading-large">Check your State Pension forecast</h1>
      <h2 class="heading-medium">You can use this service to quickly find out</h2>
      <ul class="list-bullet">
        <li>how much you may get when you reach State Pension age</li>
        <li>the earliest date you may get it</li>
        <li>how filling gaps in your National Insurance record may improve your forecast</li>
      </ul>
      <a id="start" href="#" role="button" class="button button-get-started" style="margin-top: 0">Start</a>
      <p>You cannot use this service, if you:</p>
      <ul class="list-bullet">
        <li>are already getting your State Pension</li>
        <li>have put off claiming your State Pension</li>
      </ul>
      <p>You can <a href="https://www.gov.uk/contact-pension-service">contact the Pension Service</a> for more information about claims and payments.</p>
      <h2 class="heading-medium">Apply by post or phone</h2>
      <p>You can get a paper statement in about 10 days by <a href="https://www.gov.uk/future-pension-centre">contacting the Future Pension Centre</a>. It&rsquo;s based on your current National Insurance record and shows an estimate of your current State Pension position.</p>
      <h2 class="heading-medium">If you have lived or worked on the Isle of Man</h2>
      <p>You can <a href="https://www.gov.uk/future-pension-centre">contact the Future Pension Centre</a> to get information about your UK State Pension.</p>      

    </main>
  </div><!-- /.column-two-thirds -->
  <div class="column-third">
    <div class="related-container">
      <aside class="related" id="related">
        <div class="inner group related-other">
          {% include '../start/start_gov_links.html' %}
        </div>
        <div class="inner group"></div>
      </aside>
    </div><!-- related container -->
  </div><!-- column third -->
</div><!-- grid row -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){

    $("a#tab-current-sp-value").click(function() { 
        $(".tabs-nav li").removeClass("active");
        $(this).parent().addClass("active");
        $("#current-sp-value").show();
        $("#contracted-out").hide();
        $("#improve-sp-value").hide();
        window.location.hash = "#lie-current-sp-value";
        return false;
    });
       $("a#tab-contracted-out").click(function() { 
        $(".tabs-nav li").removeClass("active");
        $(this).parent().addClass("active");
        $("#contracted-out").show();
        $("#improve-sp-value").hide();
        $("#current-sp-value").hide();
        window.location.hash = "#lie-contracted-out";
        return false;
    });
    $("a#tab-improve-sp-value").click(function() { 
        $(".tabs-nav li").removeClass("active");
        $(this).parent().addClass("active");
        $("#improve-sp-value").show();
        $("#contracted-out").hide();
        $("#current-sp-value").hide();
        window.location.hash = "#lie-improve-sp-value";
        return false;
    });

    if(window.location.hash === "#lie-current-sp-value") {
        $("a#tab-current-sp-value").trigger('click');
    }
     else if (window.location.hash === "#lie-contracted-out") {
        $("a#tab-contracted-out").trigger('click');
    }
    else if (window.location.hash === "#lie-improve-sp-value") {
        $("a#tab-improve-sp-value").trigger('click');
    }
});

$(document).ready(function(){
  var allPanels = $('.accordion > dd').hide();

  $('.accordion > dt').click(function(){
    if(!$(this).parent().parent().hasClass("active")){          
      allPanels.prev().removeClass("active");
      $(this).parent().parent().addClass("active");
      $(this).parent().parent().next().slideDown();
      return false;
    }else{
      $(this).parent().parent().removeClass("active");             
      return false;
    }
  });
});

</script>
{% endblock %}