{% extends '../layouts/template.html' %}

{% block title %}Check my State Pension - {{mvpversion}}{% endblock %}

{% block serviceName %}{% endblock %}


{% block main %}
 <div class="grid-row">
            <div class="column-two-thirds">

          <h2 class="heading-large">Your State Pension</h2>                  
<h3 class="heading-medium" style="margin: 10px 0 -10px 0">Summary</h3>   
          <div class="tab-content">                   

        
            

              <div class="highlighted-event">
                <p>You can get your State Pension on 1 December 2020 when you'll be 66, your estimate is</p>
                <p><em>£130 a week</em></p>
                                <p>£567 a month, £6,812 a year</p>
              </div><!-- /.highlighted-event -->
           <p>Your estimate
                <ul class="list-bullet"><li>is not guarenteed</li>
                  <li> assumes you'll have 5 years more National Insurance contributions by 1 December 2020</li><li>does not include any increase due to inflation</li></ul>
                                            
                                            
                                <h3 class="heading-medium">Breakdown</h3>   
                                <div class="chart-block"  style="margin-bottom: 80px">
                                    <div class="graph-title">Amount based on your latest National Insurance record (5 April 2015)</div>
                                        <ul class="graph">
                                            <li>                       
                                                <span class="amount" style="width:{{75/100*100}}%">£110 a week</span>
                                            </li>
                                        </ul>
                                  
                                </div>
                         
                                <div class="chart-block" style="margin-bottom: 80px">
                                    <div class="graph-title">Amount if you continue to contribute for 5 years </div>
                                        <ul class="graph">
                                            <li>                       
                                                <span class="amount" style="width:{{90/100*100}}%">£130 a week</span>
                                            </li>
                                        </ul>
                                  
                                </div>
               
                    <h3 class="heading-medium">How to increase it</h3>  
                                     <p>You have gaps on your record for years when you did not contribute enough National Insurance. You can make up the shortfall to make these years count toward your pension and improve your forecast.</p> <div class="chart-block"  style="margin-bottom: 80px">
                                    <span class="graph-title">The most you can get by filling 3 gaps in your NI record</span>
                                        <ul class="graph">
                                            <li>                       
                                                <div class="amount" style="width:({{131/145*100}})%">£145 a week</div>
                                            </li>
                                        </ul>
                                 
                                </div>  
                                  <p><a href="/25/start/extra_security">View your National Insurance record</a> to find out about filling gaps and making payments.</p>
            </div><!-- /.tab-pane -->

            

          
      </div><!-- /.column-two-thirds --> 
            <div class="column-third">
                  <div class="related" id="related"  style="margin-top: 50px">
                        <div class="inner group related-subsection">      
                        {% include '../dashboard/help.html' %}
                        </div>
                    </div>
                </div> <!-- /.column-third -->
                
           </div><!-- /.grid-row -->
</div>
		

{% endblock %}

