{% extends '../layouts/template.html' %}

{% block title %}Check my State Pension - {{mvpversion}}{% endblock %}

{% block serviceName %}{% endblock %}


{% block main %}
<div class="grid-row">
            <div class="column-two-thirds">

				 <h1 class="heading-large">We were unable to confirm your identity</h1>
          
          
<h2 class="heading-medium">Using GOV.UK Verify</h2>
              
<p>You can also use <a href="">GOV.UK Verify to access this service</a> if you have all of the following.</p>

<ul class="list-bullet"><li>a valid UK passport or a photocard driving licence issued in England, Wales or Scotland</li>
<li>access to information about your bank account or credit cards</li>
<li>a mobile phone or tablet computer</li>
</ul>

            <h2 class="heading-medium">Other ways to get a statement</h2>
            <p>If you cannot use the online service contact the <a href="https://www.gov.uk/future-pension-centre">Pension Service</a>. They will send a statement of your current pension by post, they do not offer a forecast.</p>
      
      


					</div><!-- /.column-two-thirds -->
					<div class="column-third">
					 <!--<div class="related-container">

    <aside class="related" id="related">
      
        
        <div class="inner group related-other">
          
          <h2 id="parent-other">Elsewhere on GOV.UK</h2>
          

          <nav role="navigation" aria-labelledby="parent-other">
            <ul>
              
                <li>
                  <a href="https://www.gov.uk/plan-retirement-income/overview">Plan your retirment income</a>
                </li>
              
                
              
              
            </ul>
          </nav>
        </div>
      

      

      <div class="inner group">
       
      </div>
    </aside>-->
				</div><!-- /.column-one-thirds -->
			</div>
		

{% endblock %}

