{% extends '../layouts/template.html' %}
{% block title %}Check my State Pension - {{mvpversion}}{% endblock %}
{% block serviceName %}{% endblock %}
{% block main %}

<div class="grid-row">
  <div class="column-two-thirds">

    <h1>Prototype 31 logins</h1>
    <ul class="list-bullet">

      <li><strong>Can improve forecast with gaps</strong><br>
      davida 123456</li>
      <li><strong>Will get max before SPA - gaps not needed</strong><br>
      janeb 123456</li>
      <li><strong>Reached max</strong><br>
      johnc 123456</li>
      <li><strong>Won't reach max before SPA - no gaps</strong><br>
      burtd 123456</li>
      <li><strong>Contracted out (same as burtd)</strong><br>
      michellee 123456</li>
      <li><strong>MQP - will reach max</strong><br>
      henryf 123456</li>
      <li><strong>MQP - can't get any pension</strong><br>
      amberg 123456</li>
      <li><strong>MQP - may get some pension if they fill gaps</strong><br>
      samh 123456</li>
      <li><strong>MQP - can't get pension but has gaps</strong><br>
      gracei 123456</li>
       <li><strong>MQP - simplified can't get any pension</strong><br>
      rosa 123456</li>
      <li><strong>Exclusions</strong><br>
      barryg 123456</li>

    </ul>

    <a href="gg_login" class="button">Login</a>
    <a href="start_gov_uk" class="button">GOV.UK start page</a>

  </div><!-- /.column-two-thirds -->
  <div class="column-third">
    <div class="related-container">
      <aside class="related" id="related">
        <div class="inner group related-other">

          <h2 id="parent-other">Elsewhere on GOV.UK</h2>
          <nav role="navigation" aria-labelledby="parent-other">
            <ul>
              <li><a href="https://www.gov.uk/plan-retirement-income/overview">Plan your retirement income</a></li>
            </ul>
          </nav>

        </div>
        <div class="inner group">
        </div>
      </aside>
    </div><!-- /.column-one-thirds -->
  </div>		

{% endblock %}