{% extends '../layouts/template.html' %}
{% block title %}Check your State Pension {{mvpversion}}{% endblock %}
{% block serviceName %}Check your State Pension{% endblock %}
{% block main %}

<div class="grid-row">
  <div class="column-two-thirds">
    <a href="/31/dashboard/dashboardA" class="example-back-link">Back</a>

    <h2 class="heading-large">How to increase your pension</h2>
    <p class="lede">To fill gaps in your National Insurance record and increase your pension, you should:</p>

    <h3 class="heading-medium">1. Check your record is correct</h3>
    <p>If you have evidence that it&rsquo;s wrong you can to correct it. This may make years count toward your pension.</p>
    <p><a href="">Check your National Insurance record</a>.</p>
    <h3 class="heading-medium">2. Pay voluntary contributions</h3>
    <p>You can pay to make up shortfalls and increase your pension</p>
    <div class="panel-indent  panel-border-wide style1">These are your best value options to get the most you can.</div>

    <dl class="ni-table">
      <!-- 2014 -->
      <!-- 2013 -->
      <dt>
        <div class="ni-wrapper">
          <p class="lede">Increase your estimate from £132 to £146 a week</p>
          <ul class="list-bullet">
            <li>this is the most you can increase your estimate to</li>
            <li>it fills the 3 cheapest gaps in your record</li>
          </ul>
          <p>Total one-off cost: <strong>£300</strong></p>
          <button id="show-less" class="button button-secondary" name="test">How to make this payment</button>
        </div>
      </dt>

      <dt>
        <div class="ni-wrapper">
          <p class="lede">Increase your estimate from £132 to £142 a week</strong></p>
          <ul class="list-bullet">
            <li>it fills the 2 cheapest gaps in your record</li>
          </ul>
          <p>Total one-off cost: <strong>£200</strong></p>
          <button id="show-less" class="button button-secondary" name="test">How to make this payment</button>
        </div>
      </dt>

      <!-- gap 1 -->
      <!-- gap end -->

      <dt>
        <div class="ni-wrapper">
          <p class="lede">Increase your estimate from £132 to £137 a week</p>
          <ul class="list-bullet">
            <li>it fills the cheapest gap in your record</li>
          </ul>
          <p>Total one-off cost: <strong>£50</strong></p>
          <button id="show-less" class="button button-secondary" name="test">How to make this payment</button>
        </div>
      </dt>
    </dl>

    <a href="/31/dashboard/dashboardA" class="example-back-link">Back</a>
  </div><!-- /.column-two-thirds -->
  <div class="column-third"></div> <!-- /.column-third -->
</div><!-- /.grid-row -->

{% endblock %}