{% extends '../layouts/template.html' %}
{% block title %}Check your State Pension {{mvpversion}}{% endblock %}
{% block serviceName %}Check your State Pension{% endblock %}
{% block main %}

<div class="grid-row">
  <div class="column-two-thirds">
      <a href="../dashboard/dashboardA" class="example-back-link">Back</a>

      <h2 class="heading-large">How filling gaps increases your pension</h2>
      <ul class="list-bullet">
        <li>paying voluntary NI contributions can make years with gaps count toward your pension</li>
          <li>the cost can vary and depends on how much NI you have left to pay</li>
         <li>the more years you fill, the more your forecast increases</li>
       
       

      </ul>
<!--<div class="panel-indent  panel-border-wide style1">
            <p>These are the best value options to increase your pension.</p><p> Filling any 3 gaps in your record will increase your estimate to the most you can get.</p>
          </div>-->
      </div>
    </div><!-- /.column-two-thirds -->
    <div class="column-third"></div> <!-- /.column-third -->
  </div><!-- /.grid-row -->

  <p>your pension forecast is<br><span class="options-data">£130.10 a week</span></p>

  <h4 class="heading-medium">Options to increase it</h4>

  <!-- 2013 -->
  <dl>
    <dt onclick="window.location = 'pay-voluntary-contributions?cost=£300&increase=£144.60&week=£13.50&month=£58.50&year=£702.00';" style="cursor: hand; cursor: pointer;">
      <div class="options-wrapper">
        <div class="options-flag">This is the most pension you can get</div>
        <div class="options-increase"><p>increase forecast to<br><span class="options-data">£144.60 a week</span></p></div>
        <div class="options-gaps"><p>years filled<br><span class="options-data">3</span></p></div>
        <div class="options-cost"><p>total one-off cost<br><span class="options-data">£300</span></p></div>
        <div class="options-button"><a href="pay-voluntary-contributions?cost=£300&increase=£144.60&week=£13.50&month=£58.50&year=£702.00" class="button button-secondary" name="test">Payment options</a></div>
      </div>
    </dt>

    <dt id="full-list" style="display: none; cursor: hand; cursor: pointer;" onclick="window.location = 'pay-voluntary-contributions?cost=£150&increase=£140.10&week=£9.00&month=£39.00&year=£468.00';">
      <div class="options-wrapper">
        <div class="options-increase"><p>increase forecast to<br><span class="options-data">£140.10 a week</span></p></div>
        <div class="options-gaps"><p>years filled<br><span class="options-data">2</span></p></div>
        <div class="options-cost"><p>total one-off cost<br><span class="options-data">£150</span></p></div>
        <div class="options-button"><a href="pay-voluntary-contributions?cost=£150&increase=£140.10&week=£9.00&month=£39.00&year=£468.00" class="button button-secondary" name="test">Payment options</a></div>
      </div>
    </dt>

    <dt onclick="window.location = 'pay-voluntary-contributions?cost=£50&increase=£135.60&week=£4.50&month=£19.50&year=£234.00';"  style="cursor: hand; cursor: pointer;">
      <div class="options-wrapper">
        <div class="options-flag">This is your cheapest option</div>
        <div class="options-increase"><p>increase forecast to<br><span class="options-data">£135.60 a week</span></p></div>
        <div class="options-gaps"><p>years filled<br><span class="options-data">1</span></p></div>
        <div class="options-cost"><p>total one-off cost<br><span class="options-data">£50</span></p></div>
        <div class="options-button"><a href="pay-voluntary-contributions?cost=£50&increase=£135.60&week=£4.50&month=£19.50&year=£234.00" class="button button-secondary" name="test">Payment options</a></div>
      </div>
    </dt>
  </dl>

  <div id="more-options">
    <a id="show-all" href="#" name="test">Show all options</a>
  </div>
  <a href="../dashboard/dashboardA" class="example-back-link">Back</a>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
$(document).ready(function(e){
    $("#show-all").click(function(e){
        e.preventDefault();
        $("#full-list").show();
        $("#more-options").hide();
    });
});
</script>
{% endblock %}