{% extends '../layouts/template.html' %}
{% block title %}Check your State Pension {{mvpversion}}{% endblock %}
{% block serviceName %}Check your State Pension{% endblock %}
{% block main %}

<div class="grid-row">
  <div class="column-two-thirds">

    <a href="../ni/ni-years-check28" class="example-back-link">Back</a>

    <h2 class="heading-large">How paying voluntary contributions can increase your pension</h2>
    <ul class="list-bullet">
      <li>paying voluntary NI contributions can make years with gaps  count toward your pension</li>
      <li>the more years you fill, the more your forecast increases</li>
      <li>the cost can vary and depends on how much NI you have left to pay</li>



    </ul>
<!--<div class="panel-indent  panel-border-wide style1">
            <p>These are the best value options to increase your pension.</p><p> Filling any 3 gaps in your record will increase your estimate to the most you can get.</p>
          </div>-->
        </div>
        <div class="column-third">
        </div> <!-- /.column-third -->
      </div><!-- /.grid-row -->
      <p>your pension forecast is<br>

        <span class="options-data">£142.10 a week</span></p>
        <h4 class="heading-medium">Options to increase it</h4>

        <!-- 2013 -->
        
        <div class="options-wrapper options-wrapper-last">
          <div class="options-flag">This is your cheapest option</div>
          <div class="options-increase"><p>increase forecast to<br><span class="options-data">£147.10 a week</span></p></div>
          <div class="options-gaps"><p>years filled<br><span class="options-data">1</span></p></div>
          <div class="options-cost"><p>total one-off cost<br><span class="options-data">£50</span></p></div>
          <div class="options-button"><a href="pay-voluntary-contributions28?cost=£50&increase=£147.10&week=£5.00&month=£21.66&year=£260.00" class="button button-secondary" name="test">Choose option</a></div>
          <div style="width: 100%; display: block; clear: both;">  <details class="helptext">
            <summary role="button" style="padding-left: 32%">
              <span class="summary">More detail</span>
            </summary>
            <div class="options-increase">&nbsp;</div>
            <div class="options-gaps"><p><strong>year</strong><br>2012-13</div>
            <div class="options-cost"><p><strong>shortfall</strong><br>£50</div>
          </details>
        </div>
      </div>
      <div id="full-list" style="display: none">
        <div class="options-wrapper">
          <div class="options-increase"><p>increase forecast to<br><span class="options-data">£151.10 a week</span></p></div>
          <div class="options-gaps"><p>years filled<br><span class="options-data">2</span></p></div>
          <div class="options-cost"><p>total one-off cost<br><span class="options-data">£150</span></p></div>
          <div class="options-button"><a href="pay-voluntary-contributions28?cost=£150&increase=£151.10&week=£9.00&month=£39.00&year=£468.00" class="button button-secondary" name="test">Choose option</a></div>
          <div style="width: 100%; display: block; clear: both;">  <details class="helptext">
            <summary role="button" style="padding-left: 32%">
              <span class="summary">More detail</span>
            </summary>
            <div class="options-increase">&nbsp;</div>
            <div class="options-gaps"><p><strong>year</strong><br>2012-13<br>2009-10</p></div>
            <div class="options-cost"><p><strong>shortfall</strong><br>£50<br>£100</p></div>

          </details>
        </div>
      </div>
    </div>
    <div class="options-wrapper">
      <div class="options-flag">This is the most pension you can get</div>
      <div class="options-increase"><p>increase forecast to<br><span class="options-data">£155.65 a week</span></p></div>
      <div class="options-gaps"><p>years filled<br><span class="options-data">3</span></p></div>
      <div class="options-cost"><p>total one-off cost<br><span class="options-data">£300</span></p></div>
      <div class="options-button"><a href="pay-voluntary-contributions28?cost=£300&increase=£155.65&week=£13.55&month=£58.71&year=£704.60" class="button button-secondary" name="test">Choose option</a>
      </div>
           <div style="width: 100%; display: block; clear: both;">  <details class="helptext">
      <summary role="button" style="padding-left: 32%">
        <span class="summary">More detail</span>
      </summary>
        <div class="options-increase">&nbsp;</div>
        <div class="options-gaps"><p><strong>year</strong><br>2012-13<br>2011-12<br>2009-10</p></div>
        <div class="options-cost"><p><strong>shortfall</strong><br>£50<br>£150<br>£100</p></div>
        </details>
      </div>
    </div>



    

    <div id="more-options">
      <a id="show-all" href="#" name="test">Show all options</a>
    </div>


    <a href="../ni/ni-years-check28" class="example-back-link">Back</a>


  </div><!-- /.column-two-thirds -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script>
  $(document).ready(function(e){
    $("#show-all").click(function(e){
      e.preventDefault();
      $("#full-list").show();
      $("#more-options").hide();
    });
  });
  </script>
  {% endblock %}