{% extends '../layouts/template.html' %}
{% block title %}Check your National Insurance record {{mvpversion}}{% endblock %}
{% block serviceName %}Check your National Insurance record{% endblock %}
{% block main %}
{% include '../persephone_login.html' %}

</div>
<div class="grid-row">
  <div class="column-two-thirds">
    <a href="javascript:window.history.back();" class="example-back-link">Back</a>

    <h2 class="heading-large">Your National Insurance record</h2>
    <ul class="list-bullet">
      <li><strong>filling gaps in your record will not improve your pension estimate</strong></li>
      <li>you will reach the most you can get by continuing to contribute</li>
    </ul>

    <p><a href="#">View all years</a></p>

    {% include './ni_table6.html' %}

    <h3 class="heading-medium">See your personal tax record</h3>
      <p>View and manage everything that HM Revenue and Customs knows about you in one place using your current sign in details. Check your tax code, see your tax free amount or change your address in your <a href="https://www.gov.uk/personal-tax-account">personal tax account</a>.</p>

    <a href="javascript:window.history.back();" class="example-back-link">Back</a>

  </div><!-- /.column-two-thirds -->
  <div class="column-third">
    <div class="related" id="related">
      <div class="inner group related-subsection">

        <h2 class="heading-small">Summary</h2>

        <nav role="navigation" aria-labelledby="parent-subsection">
          <ul class="list-bullets">
            <li><span style="font-size: 24px; font-weight: 700">25</span><br>years of full contributions</li>
            <li><span style="font-size: 24px; font-weight: 700">10</span><br>years left to contribute</li>
          </ul>
        </nav>
        
      </div>
    </div>
  </div> <!-- /.column-third -->
</div><!-- /.grid-row -->

{% endblock %}