{% extends '../layouts/template.html' %}
{% block title %}Check my State Pension - {{mvpversion}}{% endblock %}
{% block serviceName %}Check your State Pension{% endblock %}
{% block main %}

<div class="grid-row">
  <div class="column-two-thirds">

    <h1>Thank you </h1>
    <p class="text">We&rsquo;ve received your feedback.</p>
    <p class="text">To use the service again you&rsquo;ll need to <a href="/{{mvpversion}}">sign in</a>.</p>

    <h2 class="heading-medium">Putting off claiming</h2>
    <p>You may get extra State Pension if you defer your claim.</p>
    <p><a href="https://www.gov.uk/deferring-state-pension">More on putting off claiming</a>.</p>

  </div><!-- /.column-two-thirds -->
  <div class="column-third">
    <div class="related-container">

      <aside class="related" id="related">
        <div class="inner group related-other">
          <h2 id="parent-other">What you can do next</h2>
          <nav role="navigation" aria-labelledby="parent-other">
            <ul>
              <li><a href="">Putting off claiming</a></li>
              <li><a href="">Pension Wise - understanding your pension options</a></li>
              <li><a href="">Clanning your retirement income</a></li>
              <li><a href="">Contact the Pension Service</a></li>
              <li><a href="">More on State Pensions</a></li>
            </ul>
          </nav>
        </div>
        <div class="inner group"></div>
      </aside>

    </div><!-- related container -->
  </div><!-- column third -->
</div><!-- grid row -->

{% endblock %}