{% extends '../layouts/template.html' %}
{% block title %}Check my State Pension - {{mvpversion}}{% endblock %}
{% block serviceName %}Check your State Pension{% endblock %}
{% block main %}

<div class="grid-row">
  <div class="column-two-thirds">

    <h2 class="heading-large">Your State Pension</h2>
    <h3 class="heading-medium">You'll reach State Pension age on 1&nbsp;December&nbsp;2020 when you'll be 67</h3>
    
    <div class="panel-indent">

      <p>We cannot calculate your forecast because you have paid National Insurance on the Isle of Man which has its own pensions rules.</p>
      <p>Contact the <a href="">Future Pension Centre</a> for more information.</p>

    </div>

    <p><a href="/25/start/extra_security">View your National Insurance record</a></p>

  </div><!-- /.column-two-thirds -->
  <div class="column-third">
    <div class="related" id="related"  style="margin-top: 50px">
      <div class="inner group related-subsection">

        {% include '../dashboard/help.html' %}

      </div>
    </div>
  </div><!-- /.column-third -->
</div><!-- /.grid-row -->
</div>

{% endblock %}