{% extends '../layouts/template.html' %}

{% block title %}Check my State Pension - {{mvpversion}}{% endblock %}

{% block serviceName %}{% endblock %}


{% block main %}
<div class="grid-row">
            <div class="column-two-thirds">
  <h1 class="heading-large">We were unable to confirm your identity</h1>
          
          
<h2 class="heading-medium">Using GOV.UK Verify</h2>
              
<p>You can also <a href="https://www.signin.service.gov.uk/start">sign in using GOV.UK Verify</a>. If you haven’t used GOV.UK Verify before, it will take you about 10 minutes to get set up.</p>

            <h2 class="heading-medium">Other ways to get a statement</h2>
            <p>If you cannot use the online service contact the <a href="https://www.gov.uk/future-pension-centre">Pension Service</a>.</p>
         <a id="Start" href="http://twofactor-prototype.herokuapp.com/01_govuk-login_sa?url=http://nisp2016.herokuapp.com/27/start/dashboardA&failUrl=http://nisp2016.herokuapp.com/27/start/failIV" role="button" class="button" style="margin-top: 0">Continue</a>
     
					</div><!-- /.column-two-thirds -->
					<div class="column-third">
					 <div class="related-container">

    <aside class="related" id="related">
      
        
        <div class="inner group related-other">
          
          <h2 id="parent-other">Elsewhere on GOV.UK</h2>
          

          <nav role="navigation" aria-labelledby="parent-other">
            <ul>
              
                <li>
                  <a href="https://www.gov.uk/plan-retirement-income/overview">Plan your retirement income</a>
                </li>
              
                
              
              
            </ul>
          </nav>
        </div>
      

      

      <div class="inner group">
       
      </div>
    </aside>
				</div><!-- /.column-one-thirds -->
			</div>


{% endblock %}

