{% extends 'layouts/template.html' %}

{% block title %}GOV.UK prototyping kit{% endblock %}

{% block serviceName %}GOV.UK prototyping kit{% endblock %}


{% block main %}

 <div class="grid-row">
            <div class="column-two-thirds">

                    <h1 class="heading-xlarge">Team 12 prototypes, NI+SP</h1>
                    <!-- feel free to change this page to suit your needs -->

                   <h3 class="heading-medium">Latest prototypes</h3>
 <p>Version 26 - Less caveats/moved to start page </p>
  <ul class="list-bullet"><li><a href="http://nisp2016.herokuapp.com/26/start/start_gov_ukA"> Has gaps</a></li>
   
    <li><a href="http://nisp2016.herokuapp.com/26/start/start_gov_ukB">Keep contribiting to get the full amount</a> </li>
     <li><a href="http://nisp2016.herokuapp.com/26/start/start_gov_ukC">Has reached the maximum</a></li>

</ul>


            </div>
</div>


{% endblock %}

