{% extends '../layouts/template.html' %}

{% block title %}Check my State Pension - {{mvpversion}}{% endblock %}

{% block serviceName %}{% endblock %}


{% block main %}
<div class="grid-row">
            <div class="column-two-thirds">

				 <h1 class="heading-large">We were unable to confirm your identity</h1>
         <a href="/25/dashboard-persephone-gaps1">Return to Check your State Pension.</a>
          
<h2 class="heading-medium">Using GOV.UK Verify</h2>
              
<p>You can also use <a href="">GOV.UK Verify to access this service</a>.</p>


            <h2 class="heading-medium">Other ways to get a National Insurance record</h2>
            <p>If you cannot use the online service contact <a href="https://www.gov.uk/check-national-insurance-record">HMRC</a>. They will send you your National Insurance record by post.</p>
      
      


					</div><!-- /.column-two-thirds -->
					<div class="column-third">
					 <!--<div class="related-container">

    <aside class="related" id="related">
      
        
        <div class="inner group related-other">
          
          <h2 id="parent-other">Elsewhere on GOV.UK</h2>
          

          <nav role="navigation" aria-labelledby="parent-other">
            <ul>
              
                <li>
                  <a href="https://www.gov.uk/plan-retirement-income/overview">Plan your retirment income</a>
                </li>
              
                
              
              
            </ul>
          </nav>
        </div>
      

      

      <div class="inner group">
       
      </div>
    </aside>-->
				</div><!-- /.column-one-thirds -->
			</div>
		

{% endblock %}

