{% extends '../layouts/template.html' %}

{% block title %}Check my State Pension - {{mvpversion}}{% endblock %}

{% block serviceName %}{% endblock %}


{% block main %}
   <div class="grid-row">

    <div class="content-inner hub">
          <div class="column-third">

            <figure>
              <img style="float: left; width: 200px; height: 140px;" src="/public/images/govuk-verify-457ba9535f7b09531ceeefe0223913ee.gif" alt="GOV.UK VERIFY" />
            </figure>

          </div><!-- .column-third -->

          <div class="column-two-thirds">

           
            <h2 class="tight">Sign in with GOV.UK Verify</h2>
        
            <!-- <p>Is this your first time using GOV.UK Verify?</p> -->

            <div class="form-group">

              <label class="selectable binary">
                <input type="radio" name="beenVerified" value="false">This is my first time using Verify
              </label><br><br>
              <label class="selectable binary">
                <input type="radio" name="beenVerified" value="true">I've used Verify before
              </label>

            </div><!-- .form-group -->

            <div class="actions">

              <a class="button button-action next" href="/27/start/dashboardA">Continue</a>

            </div><!-- .actions -->
          </div><!-- .column-two-thirds -->
        </div><!-- .content-inner hub -->
      </div><!-- .grid-row -->
     
			
      

      


{% endblock %}

