{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<div id="wrapper">
    <main id="content" role="main">
       
            <div class="inner_block">			
                <h1 class="heading-xlarge">State Pension service v20</h1>
                <h2 class="heading-large">South Shields library - 3 September 2015</h2>
                <ul class="list-bullet">		
                    <li><a href="/start/start_persephone1">Version 1</a></li>
                    <li><a href="/start/start_persephone6">Version 2 - cut down "How to improve" </a></li>
                    <li><a href="/dashboard-persephone-gaps2">Version 3 - modelling and checking combined </a></li>
                    <li><a href="/start/start_persephone">Version 4 </a></li>
                </ul>		
            </div>
    </main>

{{/content}}

{{/layout}}
