{% extends 'layouts/template.html' %}

{% block title %}GOV.UK prototyping kit{% endblock %}

{% block serviceName %}GOV.UK prototyping kit{% endblock %}


{% block main %}

 <div class="grid-row">
            <div class="column-two-thirds">

                    <h1 class="heading-xlarge">Team 12 prototypes, NI+SP</h1>
                    <!-- feel free to change this page to suit your needs -->

                    <ul class="list-bullet">
                        <li>
                            <a href="/22/">Prototype version 22</a>
                        </li>
                    </ul>


            </div>
</div>


{% endblock %}

