{% extends '../layouts/template.html' %}
{% block title %}Check my State Pension - {{mvpversion}}{% endblock %}
{% block serviceName %}{% endblock %}
{% block main %}

<div class="grid-row">
  <div class="column-two-thirds">

    <h1>Prototype 29 persona logins</h1>
   <ul class="list-bullet">

    <li><strong>can improve forecast with gaps</strong><br>
      davida 123456</li>
    <li><strong>will get maximum before SPA - gaps not needed</strong><br>
    janeb 123456</li>
    

    </ul>

    <a href="start_gov_uk">GOV.UK start page</a>

  </div><!-- /.column-two-thirds -->
  <div class="column-third">

  </div>		

{% endblock %}